flow.json
[
    {
        "id": "a00ccef1301f21e3",
        "type": "tab",
        "label": "Hue API",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "192.168.1.12",
                "type": "str"
            },
            {
                "name": "KEY",
                "value": "EhKZJjy5vLvz-3bz06K9a8MLfCaSSzR5WxSK8a-y",
                "type": "str"
            }
        ]
    },
    {
        "id": "68a0c85ae721ed85",
        "type": "tab",
        "label": "Dynamic Scenes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20edd4d93fc0c7b9",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Register application key: use within 30 seconds of pressing link button",
        "style": {
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000",
            "stroke": "#000000",
            "fill": "#000000"
        },
        "nodes": [
            "580a03ddbe1a86e1",
            "b64ad586113a42e9",
            "3c19d7b909aa4bc5",
            "3bc799dc4b650014"
        ],
        "x": 14,
        "y": 19,
        "w": 612,
        "h": 82
    },
    {
        "id": "1ccf0bc875015428",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Send command to Hue Bridge API V2",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "20ac42d7649c260a",
            "fa870f94fa1ea10b",
            "a9378d8ba74f3f4f",
            "518d311e4301013a",
            "c9c806d81ab63ac4",
            "cd3d6cfea67f490b"
        ],
        "x": 14,
        "y": 119,
        "w": 672,
        "h": 122
    },
    {
        "id": "c0f3c1d199bc708d",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Get hue resources",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4006e2473f56a4c9",
            "df60cb7485d5c8a0",
            "4977f4086e670c54",
            "39935d86feba8ce5",
            "5dc72c0835676f87"
        ],
        "x": 14,
        "y": 259,
        "w": 662,
        "h": 82
    },
    {
        "id": "704de1d2e359f638",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Fetch Hue group and scene metadata",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "683f6cebfb0435bc",
            "31c9ea53a0d37ea7",
            "3126ce3cfc3287eb",
            "6859e44cb623bf19",
            "0a2180fde03cef3e",
            "a5b364ab8daf0bef",
            "e495f44190643f71",
            "3f29cffcea9929fe",
            "1e2f2b3580fc2b87",
            "70f531b5deb1ec1a"
        ],
        "x": 14,
        "y": 459,
        "w": 812,
        "h": 202
    },
    {
        "id": "cad4802047f76343",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Format essential scene metadata as CSV file",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "664d03bda3c6cd8d",
            "6fd93b1e22105d03",
            "d42c44a6687bf3d5",
            "7f851489fa9e120b",
            "668a56f0c07f4cff",
            "025aa8be977c56bf",
            "d56b9ae3f0b87fb9",
            "a30b207efed9b272"
        ],
        "x": 14,
        "y": 679,
        "w": 752,
        "h": 142
    },
    {
        "id": "c261059e2aaf6258",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Start dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8e2a8f5d759f7920",
            "17af4b7db724335a",
            "1192b096e08ed0bc",
            "0b44cc9e32170bd8"
        ],
        "x": 14,
        "y": 359,
        "w": 522,
        "h": 82
    },
    {
        "id": "405b624730f13e84",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard sunset dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9f11b0a34b12aeed",
            "ca44e64bd5eb08d5",
            "bc51a385ea3a9f4d",
            "f98a96a42a04374e",
            "a4ca8af66413f4ae",
            "c40f655a759479bb"
        ],
        "x": 14,
        "y": 19,
        "w": 972,
        "h": 122
    },
    {
        "id": "292bab40ea02a6f9",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard jolly dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8dc082f268067c7d",
            "46e031908080bccb",
            "346f7e5b9e7ad29b",
            "b4b2719dc82999f0",
            "81572873f288dde3",
            "a49ca0a24aba7daf"
        ],
        "x": 14,
        "y": 159,
        "w": 932,
        "h": 122
    },
    {
        "id": "61845a06011905ec",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start living room sunset dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2587012de99aa5f4",
            "6479e651ae0abe9e",
            "5eb1e0b9de5bb7b0",
            "9ad646a7d4d7640d",
            "8c7a47c913e58bf7",
            "06175110eb064ba5"
        ],
        "x": 14,
        "y": 439,
        "w": 992,
        "h": 122
    },
    {
        "id": "5e5a0d54cd36857c",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start master bedroom sunset dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "caf4e9d054e242fe",
            "1b8a78842c69d486",
            "da822555b6862b5d",
            "b8d34a5e6e25333b",
            "d1e3538a1798b0b5",
            "af631eb3aa02b9d4"
        ],
        "x": 14,
        "y": 579,
        "w": 1052,
        "h": 122
    },
    {
        "id": "cf878f58f6360a07",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start guest bedroom sunset dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "161076791f776aef",
            "799732214b487233",
            "ddb30b7e12994f9f",
            "16292d7a6aa763d5",
            "9fb68bd4e9d72ba1",
            "079b41faaf05de0c"
        ],
        "x": 14,
        "y": 719,
        "w": 1032,
        "h": 122
    },
    {
        "id": "8a5418169860cd08",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start main bathroom sunset dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a00af0a49fee52f5",
            "f142314d7fcddd22",
            "546cdf4bfcb241d0",
            "e0b370acf1ecb7f0",
            "3b83da74294d4176",
            "c5452dc45a2b8c76"
        ],
        "x": 14,
        "y": 859,
        "w": 1032,
        "h": 122
    },
    {
        "id": "e002d431b0480f62",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard spooky dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a4771e8e2359c1c2",
            "20a884f75e5ca9dc",
            "b1242486cc80338a",
            "eb921f06f7b79c71",
            "64038a922dc5e414",
            "3517404bed36125c"
        ],
        "x": 14,
        "y": 299,
        "w": 972,
        "h": 122
    },
    {
        "id": "60c9dd9588383ba3",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "EXPERIMENTAL: handle Hue SSE stream",
        "style": {
            "stroke": "#000000",
            "fill": "#ff0000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cf5ca41597f4caa6",
            "d8270516ec706da6",
            "570f2eed05a6468b",
            "d01412560a473f6a",
            "4213861bb677b3c4"
        ],
        "x": 14,
        "y": 839,
        "w": 792,
        "h": 82
    },
    {
        "id": "b98a758a1473104d",
        "type": "homekit-bridge",
        "bridgeName": "Node-RED",
        "pinCode": "292-51-538",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "001",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "e79e0110c2317edb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "580a03ddbe1a86e1",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "'https://' & $env('ADDRESS') & '/api'",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devicetype\":\"nodered#cheznous\",\"generateclientkey\":true}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b64ad586113a42e9"
            ]
        ]
    },
    {
        "id": "b64ad586113a42e9",
        "type": "http request",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "3bc799dc4b650014"
            ]
        ]
    },
    {
        "id": "3c19d7b909aa4bc5",
        "type": "debug",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "3bc799dc4b650014",
        "type": "json",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "3c19d7b909aa4bc5"
            ]
        ]
    },
    {
        "id": "20ac42d7649c260a",
        "type": "http request",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "cd3d6cfea67f490b"
            ]
        ]
    },
    {
        "id": "fa870f94fa1ea10b",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"hue-application-key\": $env('KEY')}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/clip/v2/' & topic",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "20ac42d7649c260a"
            ]
        ]
    },
    {
        "id": "a9378d8ba74f3f4f",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "send to hue",
        "links": [
            "b38ce20acaea849c"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "c9c806d81ab63ac4"
            ]
        ],
        "outputLabels": [
            "topic = uri, payload = body, method = HTTP request type"
        ]
    },
    {
        "id": "518d311e4301013a",
        "type": "catch",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "scope": [
            "20ac42d7649c260a"
        ],
        "uncaught": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "cd3d6cfea67f490b"
            ]
        ]
    },
    {
        "id": "c9c806d81ab63ac4",
        "type": "delay",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "fa870f94fa1ea10b"
            ]
        ]
    },
    {
        "id": "cd3d6cfea67f490b",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "hue response",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 180,
        "wires": []
    },
    {
        "id": "4006e2473f56a4c9",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "links": [
            "a9378d8ba74f3f4f"
        ],
        "timeout": "30",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "df60cb7485d5c8a0"
            ]
        ]
    },
    {
        "id": "df60cb7485d5c8a0",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "39935d86feba8ce5"
            ]
        ]
    },
    {
        "id": "4977f4086e670c54",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "get hue resources",
        "links": [],
        "x": 55,
        "y": 300,
        "wires": [
            [
                "5dc72c0835676f87"
            ]
        ]
    },
    {
        "id": "39935d86feba8ce5",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "hue resources",
        "mode": "return",
        "links": [],
        "x": 635,
        "y": 300,
        "wires": []
    },
    {
        "id": "5dc72c0835676f87",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "4006e2473f56a4c9"
            ]
        ]
    },
    {
        "id": "683f6cebfb0435bc",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "get zones",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/zone",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "31c9ea53a0d37ea7"
            ]
        ]
    },
    {
        "id": "31c9ea53a0d37ea7",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "e495f44190643f71"
            ]
        ]
    },
    {
        "id": "3126ce3cfc3287eb",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "get scenes",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "6859e44cb623bf19"
            ]
        ]
    },
    {
        "id": "6859e44cb623bf19",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "1e2f2b3580fc2b87"
            ]
        ]
    },
    {
        "id": "0a2180fde03cef3e",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "get rooms",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/room",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 560,
        "wires": [
            [
                "a5b364ab8daf0bef"
            ]
        ]
    },
    {
        "id": "a5b364ab8daf0bef",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 450,
        "y": 560,
        "wires": [
            [
                "3f29cffcea9929fe"
            ]
        ]
    },
    {
        "id": "e495f44190643f71",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "processZoneMetadata",
        "func": "let zones = {}\n\nmsg.payload.forEach(zone => {\n    zones[zone.id] = zone\n})\n\nglobal.set(\"zones\", zones)\nreturn {payload: zones}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "0a2180fde03cef3e"
            ]
        ]
    },
    {
        "id": "3f29cffcea9929fe",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "processRoomMetadata",
        "func": "let rooms = {}\n\nmsg.payload.forEach(room => {\n    rooms[room.id] = room\n})\n\nglobal.set(\"rooms\", rooms)\nreturn {payload: rooms}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "3126ce3cfc3287eb"
            ]
        ]
    },
    {
        "id": "1e2f2b3580fc2b87",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "processSceneMetadata",
        "func": "let scenes = {}\nlet rooms = global.get(\"rooms\") || {}\nlet zones = global.get(\"zones\") || {}\n\nlet findGroup = (id, groups) => {\n\n    for (let rid in groups) {\n\n        let group = groups[rid]\n\n        if (group.id == id) {\n            return group\n        }\n    }\n    \n    return undefined\n}\n\nmsg.payload.forEach(scene => {\n\n    scenes[scene.id] = scene\n    \n    let group = findGroup(scene.group.rid, zones)\n    \n    if (group === undefined) {\n        group = findGroup(scene.group.rid, rooms)\n    }\n    \n    if (group !== undefined) {\n        scene.group.name = group.metadata.name\n    }\n    \n    let services = group.grouped_services\n    \n    for (let index = 0; index < services.length; ++index) {\n        \n        let service = services[index]\n        \n        if (service.rtype == \"grouped_light\") {\n            scene.group.grouped_light = service.rid\n        }\n    }\n})\n\nglobal.set(\"scenes\", scenes)\nreturn {payload: scenes}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "70f531b5deb1ec1a",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "683f6cebfb0435bc"
            ]
        ]
    },
    {
        "id": "664d03bda3c6cd8d",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "scenes",
        "payloadType": "global",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "7f851489fa9e120b"
            ]
        ]
    },
    {
        "id": "6fd93b1e22105d03",
        "type": "debug",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "d42c44a6687bf3d5",
        "type": "csv",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "group_id,group_name,scene_id,scene_name,group_lights",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "a30b207efed9b272"
            ]
        ]
    },
    {
        "id": "7f851489fa9e120b",
        "type": "split",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "668a56f0c07f4cff"
            ]
        ]
    },
    {
        "id": "668a56f0c07f4cff",
        "type": "template",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"scene_name\": \"{{payload.metadata.name}}\",\n    \"scene_id\": \"{{payload.id}}\",\n    \"group_name\": \"{{payload.group.name}}\",\n    \"group_id\": \"{{payload.group.rid}}\",\n    \"group_lights\": \"{{payload.group.grouped_light}}\"\n}",
        "output": "json",
        "x": 400,
        "y": 720,
        "wires": [
            [
                "025aa8be977c56bf"
            ]
        ]
    },
    {
        "id": "025aa8be977c56bf",
        "type": "join",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 530,
        "y": 720,
        "wires": [
            [
                "d56b9ae3f0b87fb9"
            ]
        ]
    },
    {
        "id": "d56b9ae3f0b87fb9",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "entriesToArray",
        "func": "let response = []\n\nfor (let id in msg.payload) {\n    response.push(msg.payload[id])\n}\nreturn {payload: response};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 780,
        "wires": [
            [
                "d42c44a6687bf3d5"
            ]
        ]
    },
    {
        "id": "a30b207efed9b272",
        "type": "file",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "filename": "/data/scenes.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 470,
        "y": 780,
        "wires": [
            [
                "6fd93b1e22105d03"
            ]
        ]
    },
    {
        "id": "8e2a8f5d759f7920",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "start dynamic scene",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"resource/scene/\" & payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "17af4b7db724335a",
                "17af4b7db724335a"
            ]
        ]
    },
    {
        "id": "17af4b7db724335a",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "",
        "links": [
            "a9378d8ba74f3f4f"
        ],
        "timeout": "30",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "0b44cc9e32170bd8",
                "0b44cc9e32170bd8"
            ]
        ]
    },
    {
        "id": "1192b096e08ed0bc",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "start dynamic scene",
        "links": [],
        "x": 55,
        "y": 400,
        "wires": [
            [
                "8e2a8f5d759f7920",
                "8e2a8f5d759f7920"
            ]
        ]
    },
    {
        "id": "0b44cc9e32170bd8",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 495,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf5ca41597f4caa6",
        "type": "sse-client",
        "z": "a00ccef1301f21e3",
        "g": "60c9dd9588383ba3",
        "name": "",
        "url": "",
        "events": [],
        "headers": {},
        "proxy": "",
        "restart": true,
        "rejectUnauthorized": false,
        "withCredentials": true,
        "timeout": "60",
        "x": 290,
        "y": 880,
        "wires": [
            [
                "d01412560a473f6a"
            ]
        ]
    },
    {
        "id": "d8270516ec706da6",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "60c9dd9588383ba3",
        "name": "start listening",
        "props": [
            {
                "p": "headers",
                "v": "{\"hue-application-key\": $env('KEY')}",
                "vt": "jsonata"
            },
            {
                "p": "url",
                "v": "'https://' & $env('ADDRESS') & '/eventstream/clip/v2'",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "cf5ca41597f4caa6"
            ]
        ]
    },
    {
        "id": "570f2eed05a6468b",
        "type": "debug",
        "z": "a00ccef1301f21e3",
        "g": "60c9dd9588383ba3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 880,
        "wires": []
    },
    {
        "id": "d01412560a473f6a",
        "type": "json",
        "z": "a00ccef1301f21e3",
        "g": "60c9dd9588383ba3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 880,
        "wires": [
            [
                "4213861bb677b3c4"
            ]
        ]
    },
    {
        "id": "4213861bb677b3c4",
        "type": "split",
        "z": "a00ccef1301f21e3",
        "g": "60c9dd9588383ba3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 880,
        "wires": [
            [
                "570f2eed05a6468b"
            ]
        ]
    },
    {
        "id": "9f11b0a34b12aeed",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "003",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "bc51a385ea3a9f4d"
            ],
            []
        ]
    },
    {
        "id": "ca44e64bd5eb08d5",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "9f11b0a34b12aeed"
            ]
        ]
    },
    {
        "id": "bc51a385ea3a9f4d",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ca44e64bd5eb08d5",
                "a4ca8af66413f4ae"
            ]
        ]
    },
    {
        "id": "f98a96a42a04374e",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4ca8af66413f4ae",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "front yard sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "9b6935e2-f8ed-4f91-83a2-2bff1850da99",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "c40f655a759479bb"
            ]
        ]
    },
    {
        "id": "c40f655a759479bb",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "f98a96a42a04374e"
            ]
        ]
    },
    {
        "id": "8dc082f268067c7d",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Jolly",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "004",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "346f7e5b9e7ad29b"
            ],
            []
        ]
    },
    {
        "id": "46e031908080bccb",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "8dc082f268067c7d"
            ]
        ]
    },
    {
        "id": "346f7e5b9e7ad29b",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "46e031908080bccb",
                "81572873f288dde3"
            ]
        ]
    },
    {
        "id": "b4b2719dc82999f0",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "81572873f288dde3",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "front yard jolly",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "12571f23-7714-4b47-8e75-a3040389b788",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "a49ca0a24aba7daf"
            ]
        ]
    },
    {
        "id": "a49ca0a24aba7daf",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "b4b2719dc82999f0"
            ]
        ]
    },
    {
        "id": "2587012de99aa5f4",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Living Room Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "006",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "5eb1e0b9de5bb7b0"
            ],
            []
        ]
    },
    {
        "id": "6479e651ae0abe9e",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "2587012de99aa5f4"
            ]
        ]
    },
    {
        "id": "5eb1e0b9de5bb7b0",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "6479e651ae0abe9e",
                "8c7a47c913e58bf7"
            ]
        ]
    },
    {
        "id": "9ad646a7d4d7640d",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "8c7a47c913e58bf7",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "living room sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b838037e-54a0-4a60-aa0f-a5991f18f759",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "06175110eb064ba5"
            ]
        ]
    },
    {
        "id": "06175110eb064ba5",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 700,
        "y": 480,
        "wires": [
            [
                "9ad646a7d4d7640d"
            ]
        ]
    },
    {
        "id": "caf4e9d054e242fe",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Master Bedroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "007",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "da822555b6862b5d"
            ],
            []
        ]
    },
    {
        "id": "1b8a78842c69d486",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "caf4e9d054e242fe"
            ]
        ]
    },
    {
        "id": "da822555b6862b5d",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "1b8a78842c69d486",
                "d1e3538a1798b0b5"
            ]
        ]
    },
    {
        "id": "b8d34a5e6e25333b",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 620,
        "wires": []
    },
    {
        "id": "d1e3538a1798b0b5",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "master bedroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0d5459f5-c2c7-40da-b811-e0b0e629f8a2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "af631eb3aa02b9d4"
            ]
        ]
    },
    {
        "id": "af631eb3aa02b9d4",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 760,
        "y": 620,
        "wires": [
            [
                "b8d34a5e6e25333b"
            ]
        ]
    },
    {
        "id": "161076791f776aef",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Guest Bedroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "002",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "ddb30b7e12994f9f"
            ],
            []
        ]
    },
    {
        "id": "799732214b487233",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 800,
        "wires": [
            [
                "161076791f776aef"
            ]
        ]
    },
    {
        "id": "ddb30b7e12994f9f",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "799732214b487233",
                "9fb68bd4e9d72ba1"
            ]
        ]
    },
    {
        "id": "16292d7a6aa763d5",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 760,
        "wires": []
    },
    {
        "id": "9fb68bd4e9d72ba1",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "guest bedroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "817e9cd7-75a6-4278-be9e-b67b3460a899",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "079b41faaf05de0c"
            ]
        ]
    },
    {
        "id": "079b41faaf05de0c",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 740,
        "y": 760,
        "wires": [
            [
                "16292d7a6aa763d5"
            ]
        ]
    },
    {
        "id": "a00af0a49fee52f5",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Main Bathroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "008",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "546cdf4bfcb241d0"
            ],
            []
        ]
    },
    {
        "id": "f142314d7fcddd22",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 940,
        "wires": [
            [
                "a00af0a49fee52f5"
            ]
        ]
    },
    {
        "id": "546cdf4bfcb241d0",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 940,
        "wires": [
            [
                "f142314d7fcddd22",
                "3b83da74294d4176"
            ]
        ]
    },
    {
        "id": "e0b370acf1ecb7f0",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "3b83da74294d4176",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "main bathroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5e7c58e6-6352-4568-9153-4a069b7bf53a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "c5452dc45a2b8c76"
            ]
        ]
    },
    {
        "id": "c5452dc45a2b8c76",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "e0b370acf1ecb7f0"
            ]
        ]
    },
    {
        "id": "a4771e8e2359c1c2",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Spooky",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "005",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "b1242486cc80338a",
                "b1242486cc80338a"
            ],
            []
        ]
    },
    {
        "id": "20a884f75e5ca9dc",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a4771e8e2359c1c2",
                "a4771e8e2359c1c2"
            ]
        ]
    },
    {
        "id": "b1242486cc80338a",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "20a884f75e5ca9dc",
                "64038a922dc5e414",
                "20a884f75e5ca9dc",
                "64038a922dc5e414"
            ]
        ]
    },
    {
        "id": "eb921f06f7b79c71",
        "type": "debug",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "64038a922dc5e414",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "front yard spooky",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70a0a8a6-b4b7-4b24-a9cf-0ecea0f359cc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "3517404bed36125c",
                "3517404bed36125c"
            ]
        ]
    },
    {
        "id": "3517404bed36125c",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 680,
        "y": 340,
        "wires": [
            [
                "eb921f06f7b79c71",
                "eb921f06f7b79c71"
            ]
        ]
    }
]