flow.json
[
    {
        "id": "cbd68ba9caa96a3d",
        "type": "tab",
        "label": "Time",
        "disabled": false,
        "info": "### Time Based automation\n\n#### Configuration\n\nThis flow contains a `function` node that uses the [suncalc](https://github.com/mourner/suncalc) package and relies on `LATITUDE` and `LONGITUDE` environment variables to specify the geographic coordinates used in determining sunrise and sunset.\n\n> _Geographic coordinates are an example of sensitive personal information that should generally be kept out of flows that might be shared as examples in a forum, pushed to a public source control repository etc._\n\nYou can specify environment variables for use in your flows in a number of ways, depending on your preferences and your overall Node-RED configuration. For most \"mainstream\" scenarios, the simplest way would be to add them to the _~/.node-red/environment_ file in the home directory of the user as whom the Node-RED service is running.\n\n#### Time of Day\n\nThe `link out` node named _asdf_ is where time-based automation flows should start, e.g. to adjust lighting, window coverings, HVAC settings etc. for different times of day:\n\n| `msg.payload` | Descrption                                                   |\n|---------------|--------------------------------------------------------------|\n| `morning`     | Sunrise to _offset_ hours after sunrise                      |\n| `midday`      | _Offset_ hours after sunrise to _offset_ hours before sunset |\n| `afternoon`   | _Offset_ hours before sunset to sunset                       |\n| `evening`     | Sunset to _bedtime_                                          |\n| `night`       | _Bedtime_ to sunrise                                         |\n\n_Offset_ is one third of the number of hours between sunrise and sunset.\n\n_Bedtime_ is generated each day to occur at the later of:\n\n- 10:00PM (22:00), plus or minus a randomly generated 30 minute offset\n- a randomly generated time, 30 to 60 minutes after sunset\n\n> _Five distinct times of day may seem excessive, but has proven necessary in a number of real-world scenarios. For example, the distinctions between `morning`, `midday` and `afternoon` are invaluable for homes with automated coverings over both East- and West-facing windows. In addition, randomizing `bedtime` can provide a modest degree of \"simulated presence\" to discourage potential burglars._\n\n#### Theme\n\nIn addition to the time-of-day specified by `msg.payload`, as described above, automation flows can also assume that `global.theme` will have been set to a value indicating any special occasions that might be effect:\n\n| `global.theme` | Description         |\n|----------------|---------------------|\n| `tribal`       | July 1 - 4          |\n| `spooky`       | Any day in October  |\n| `jolly`        | Any day in December |\n| `standard`     | Any other day       |",
        "env": []
    },
    {
        "id": "63d8cb10398da04b",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7141ffb22d64190",
        "type": "tab",
        "label": "Hue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1cf0490e7de2f93d",
        "type": "tab",
        "label": "PowerView",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            }
        ]
    },
    {
        "id": "6e3ca82457d27245",
        "type": "tab",
        "label": "Messaging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e44149a93fbe9b1b",
        "type": "tab",
        "label": "Main Floor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "adfd8ae4a2eaf844",
        "type": "tab",
        "label": "Yard",
        "disabled": false,
        "info": "Front Yard home automation integration.",
        "env": []
    },
    {
        "id": "5785c8d9f39df67e",
        "type": "subflow",
        "name": "Send to Hue Bridge",
        "info": "# Overview\n\nSend a message to the API (version 2) on a given Hue Bridge.\n\nSee <https://developers.meethue.com/develop/hue-api-v2/> for details.\n\n_**Note:** the intent is for this subflow to be used for_ every _message sent to a given Hue bridge so as to enforce the rate limits described in the Hue API documentation._\n\n# Configuration\n\n| Environment Variable | Description                         |\n|----------------------|-------------------------------------|\n| `ADDRESS`            | Bridge's IP address                 |\n| `KEY`                | Client access token for the message |\n\n# Input\n\n| Message Property | Description                                                                |\n|------------------|----------------------------------------------------------------------------|\n| `msg.topic`      | API URI, e.g. `resource`, `room/0ca8f049-7ac9-4872-8069-4770834e4f11` etc. |\n| `msg.payload`    | Request body, if any                                                       |\n| `msg.method`     | HTTP request method, e.g. `GET`, `PUT` etc                                 |\n\n# Outputs\n\nIf successful, the HTTP response will be sent as a parsed JSON object in `msg.payload` from output 1.\n\nA standard Node-RED error message will be sent on output 2 if the `http request` node throws an exception.",
        "category": "hue",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "c9c806d81ab63ac4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 60,
                "wires": [
                    {
                        "id": "20ac42d7649c260a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "env",
                "value": "ADDRESS"
            },
            {
                "name": "KEY",
                "type": "env",
                "value": "KEY"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-send-to-hue-bridge",
            "type": "send-to-hue-bridge",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Send a command to the Hue Bridge API",
            "keywords": "philips,hue,http",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 620,
            "y": 140,
            "wires": [
                {
                    "id": "1e35b6e766e6b3d1",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "75bc72a16c4da2c8",
        "type": "subflow",
        "name": "Create Hue Application Key",
        "info": "# Overview\n\nInvoke the Hue Bridge API to create a client access token.\n\n_**N.B.:** Invoke this subflow within 30 seconds of pressing the button on top of the bridge. Watch the debug console output to see the response. If successful, you will see the generated key among the response payload's properties._\n\nSee <https://developers.meethue.com/develop/hue-api-v2/getting-started/> for details.\n\n# Configuration\n\n| Environment Variable | Description                                    |\n|----------------------|------------------------------------------------|\n|`ADDRESS`             | Bridge's IP address                            |\n| `USERNAME`           | \"User name\" for which a key is being generated |\n\n# Input\n\nIncoming message triggers HTTP request but is otherwise ignored.\n\n# Output\n\nThe HTTP response will be sent as a parsed JSON object. If successful, look for the value of the `msg.payload.success.username` property in the output. That is the string you should use as the access token header in all subsequent Hue Bridge API request messages.",
        "category": "hue",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "7316ae1eef4c6295"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 40,
                "wires": [
                    {
                        "id": "e4718ecfdb248cc7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "env",
                "value": "ADDRESS"
            },
            {
                "name": "USERNAME",
                "type": "env",
                "value": "USERNAME"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-create-hue-application-key",
            "type": "create-hue-application-key",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Invoke the Hue Bridge API for registering a client",
            "keywords": "philips,hue,http",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 440,
            "y": 100,
            "wires": [
                {
                    "id": "64ad1b43047cb836",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "9c4e4702e4660adf",
        "type": "subflow",
        "name": "Set PowerView Scene",
        "info": "# Overview\n\nUse the _Hunter Douglas PowerView_&reg; hub API to activate a given window shade scene.\n\nSee <https://motorisation.hde.nl/hd/powerview/general-guides/API/> for details.\n\n# Configuration\n\nThe `ADDRESS` environment variable must be configured with the IP address of the hub.\n\n# Input\n\n`msg.payload` containing the id of the scene to activate.\n\nAll other input message properties are ignored by the subflow but care should be taken not to pass any through that could affect the behavior of a `http request` node in unintended ways.\n\n# Output\n\nHTTP response from the hub.\n\n# Side Effects\n\nIf successful, the window shades will move to the settings defined by the specified scene as configured using the _PowerView_&reg; mobile app.",
        "category": "powerview",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "dcd553804e687131"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 60,
                "wires": [
                    {
                        "id": "8dc3bcf508fc6c98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "env",
                "value": "ADDRESS"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-set-powerview-scene",
            "type": "set-powerview-scene",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Activate a PowerView scene",
            "keywords": "hunter douglas,powerview",
            "license": "MIT"
        },
        "color": "#C0DEED",
        "icon": "font-awesome/fa-align-justify",
        "status": {
            "x": 600,
            "y": 140,
            "wires": [
                {
                    "id": "728ab503eb1eb941",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4920eed654c67f8d",
        "type": "subflow",
        "name": "Get PowerView Metadata",
        "info": "",
        "category": "powerview",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "465f820637e0f695"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 60,
                "wires": [
                    {
                        "id": "e62fe5c7c72b90ee",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "env",
                "value": "ADDRESS"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-get-powerview-metadata",
            "type": "get-powerview-metadata",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "keywords": "powerview,hunter douglas",
            "license": "MIT"
        },
        "color": "#C0DEED",
        "icon": "font-awesome/fa-align-justify",
        "status": {
            "x": 660,
            "y": 180,
            "wires": [
                {
                    "id": "014121091f945d16",
                    "port": 0
                },
                {
                    "id": "35c708b92ea8024b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "454f48125d29e6ef",
        "type": "subflow",
        "name": "Homebridge Switch",
        "info": "# Background\n\nThis subflow implements the Node-RED side of a _Homebridge_ switch using the _mqttthing_ plugin. That plugin uses a confused nomenclature regarding 'get' and 'set' as well as a rather over-engineered repertoire of MQTT messaging that still manages to be missing critical features:\n\n- _mqttthing_ sends a 'set' message each time the user toggles the state of the switch using HomeKit\n\n- _mqttthing_ changes the state of a switch upon receipt of a 'get' message\n\n- _mqttthing_ does **not** send a 'set' message when the switch's state changes due to receipt of a 'get' message.\n\n- rather, _mqttthing_ expects an acknowledging 'get' message after it sends a 'set' message\n\n- _mqttthing_ does _not_ remember the state of a switch across restarts unless Node-RED sends 'get' messages with `retain` set to `true`\n\n- Node-RED does not receive the current state of the switch across restarts unless _mqttthing_ is configured to send 'set' messages with `retain` set to `true`\n\n- when `retain` is `true`, care must be taken not to retrigger any automation or the like at startup (typically using a `filter` node configured to ignore the first message)\n\nIt is up to clients like Node-RED flows to make sense of the confused stream of messages that results, including the fact that 'get' and 'set' have the opposite of their conventional meanings. Clients must also act on 'get' messages rather than 'set', meaning that Node-RED must simply take it on faith that _mqttthing_ will act on them, as well.\n\n# Configuration\n\nNote that this subflow assumes a particular naming convention for _mqttthing_ 'get' and 'set topics as configured by _mqttthing_ in the _Homebridge_ config file:\n\n    homebridge/<name>/get\n    homebridge/<name>/set\n\nGiven that naming convention, each instance of this subflow corresponds to one switch accessory implemented by the _mqttthing_ plugin:\n\n| Environment Variable | Description                                                           |\n|----------------------|-----------------------------------------------------------------------|\n| `NAME`               | The second element of the 'get' and 'set' topics                      |\n| `RETAIN`             | Value for `msg.retain` when sending 'get' messages to the MQTT broker |\n\n# Input\n\nBoolean value to send as the payload of a `get` message.\n\n# Output\n\nPayload of the most recently received `get` message. May be a retained message if `$RETAIN` is set to `true` for a given instance of this subflow.\n\n# Usage\n\nAssuming that a _Homebridge_ switch accessory is implemented by _mqttthing_ configured with 'get' and 'set' topics as described above, sending a boolean value to the input of a corresponding instance of this subflow will set the state of the matching accessory in _HomeKit_. The subflow will also listen for matching 'set' and 'get' messages, such that messages will be emitted on the subflow output corresponding to the changing state of the _HomeKit_ accessory:\n\n- It listens for both 'get' and 'set' messages matching the topics as described above\n\n- It outputs the topic and payload of each `get` message it receives\n\n- It broadcasts a MQTT message on the 'get' topic for each message it receives from the subflow input\n\n- It rebroadcasts a corresponding 'get' message for each matching 'set' message it receives\n\nThe net result (pun intended) is that you can set the _HomeKit_ switch state by injecting a boolean payload into an instance of this subflow and react to asynchronous changes in the switch state by consuming the subflow's output. Depending on how a switch is configured in _mqttthing_ and in the corresponding instance of this subflow, either or both of 'get' and 'set' messages can be retained. This is the only mechanism supported by _mqttthing_ for persisting the state of built in switch accessories across reboots of the _Homebridge_ service.",
        "category": "homebridge",
        "in": [
            {
                "x": 560,
                "y": 60,
                "wires": [
                    {
                        "id": "d3ca376c2c496852"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 830,
                "y": 340,
                "wires": [
                    {
                        "id": "3607b11dc299fa3d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "NAME",
                "type": "str",
                "value": ""
            },
            {
                "name": "RETAIN",
                "type": "bool",
                "value": "false"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-homebridge-mqttthing-switch",
            "type": "homebridge-mqttthing-switch",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Implement Node-RED handling of a toggle switch implemented by the mqttthing plugin for homebridge",
            "keywords": "homebridge,mqttthing",
            "license": "MIT"
        },
        "color": "#AAAA66",
        "inputLabels": [
            "update state"
        ],
        "outputLabels": [
            "current state"
        ],
        "icon": "node-red-dashboard/ui_switch.png",
        "status": {
            "x": 780,
            "y": 400,
            "wires": [
                {
                    "id": "45226efb3ae06fd5",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "c4207c9fe61a900e",
        "type": "subflow",
        "name": "Monitored Event",
        "info": "Handle MQTT messages for topics that match the value of the `TOPIC` environment variable. Such topics are expected to be of the form `cpu/+/attribute`, for some monitored attribute such as `temperature`, `voltage` etc. The second, wildcard elemnt is expected to be the name of the host that sent the particular message being handled. Such messages are cached in the context of a function node in this subflow as an object whose keys are the host names. The value for each host is an object whose key is the name of the attribute and whose value is the value for the most recently received message for that attribute from that host.\n\nFor example, assuming that `${TOPIC}` is configured to be `cpu/+/temperature`, the following sequence of messages:\n\n    cpu/host1/temperature : 31\n    cpu/host2/temperature : 55\n    cpu/host3/temperature : 49\n\nwould result in the cached state becoming:\n\n    {\n        host1: {\n            temperature: 31\n        },\n        host2: {\n            temperature: 55\n        },\n        host5: {\n            temperature: 49\n        }\n    }\n\nIf a subsequent message were received:\n\n    cpu/host2/temperature : 56\n\nthe cached state would be updated to:\n\n    {\n        host1: {\n            temperature: 31\n        },\n        host2: {\n            temperature: 56\n        },\n        host5: {\n            temperature: 49\n        }\n    }\n\n...and so on.\n\nThe subflow has two outputs:\n\n1. A HTML `<table>` representing the cached state for all hosts after updating it upon the receipt of each message, presumably for display using a dashboard _template_ node.\n\n2. The raw event for subsequent processing, e.g. taking action if some CPU overheats.\n\nThe `<table>` emitted for the updated state descibed above would be something like (_extra whitespace and comments inserted here for readability_):\n\n    <table>\n      <!-- optional first row, included if ${HEADER} is true -->\n      <tr>\n        <th>host</th>\n        <th>temperature</th>\n      </tr>\n      <!-- assumes ${UNIT} is set to 'C' -->\n      <tr>\n        <td>host1</td>\n        <td>31C</td>\n      </tr>\n      <tr>\n        <td>host2</td>\n        <td>56C</td>\n      </tr>\n      <tr>\n        <td>host3</td>\n        <td>49C</td>\n      </tr>\n    </table>\n\nAs noted in the HTML comments, the formatting of the `<table>` can be tweaked by two additional environment variables:\n\n- The value of `UNIT`, which defaults to the empty string, will be appended to each value in the second column.\n\n- The first, `<th>`, row will only be included in the HTML output if the value of `HEADER` is `true`.",
        "category": "waubesa",
        "in": [],
        "out": [
            {
                "x": 510,
                "y": 60,
                "wires": [
                    {
                        "id": "5c5acf089b206c21",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": ""
            },
            {
                "name": "UNIT",
                "type": "str",
                "value": ""
            },
            {
                "name": "HEADER",
                "type": "bool",
                "value": "false"
            }
        ],
        "meta": {},
        "color": "#E7E7AE",
        "outputLabels": [
            "html"
        ],
        "icon": "node-red/status.svg",
        "status": {
            "x": 540,
            "y": 140,
            "wires": [
                {
                    "id": "f1901e3f3d155ae5",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4e89e7c952d56c09",
        "type": "subflow",
        "name": "Hue to MQTT",
        "info": "# Overview\n\nThis subflow:\n\n- Caches the state of Philips Hue devices in flow context using the response  to an invocation of the `/resource` end-point of the [Philips Hue Bridge V2 API](https://developers.meethue.com/develop/hue-api-v2/api-reference/#resource).\n\n- Outputs a stream of individual event messages as the cached devices' states change by subscribing to [SSE messages](https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events).\n\nEach event message will have appropriate MQTT topic, QoS and retain properties set in addition to the payload sent by the Hue bridge.\n\n_**Note:** the `switch` node named \"filter resources\" in this subflow is used to restrict the number of messages processed at startup to only those types of resources likely to be of interest to Node-RED based automation. This means that over time you will receive SSE messages for resources whose state did not appear in the initial output from this subflow. If you wish for 100% consistency across all resource types, remove the \"filter resources\" node from between the two `split` nodes, but be warned that will cause a much larger volume of MQTT messaging each time your flows are restarted._\n\n# Dependency\n\n[node-red-contrib-sse-client](https://flows.nodered.org/node/node-red-contrib-sse-client)\n\n# Configuration\n\nA separate subflow instance can be created for each Hue bridge by using the following configuration variables:\n\n| Environment Variable | Description                                                             |\n|----------------------|-------------------------------------------------------------------------|\n| `ADDRESS`            | IP address of the Hue bridge                                            |\n| `KEY`                | \"Client key\" for the Hue bridge API<sup>*</sup>                         |\n| `TOPIC`              | String to prepend to each `msg.topic` in the output, as described below |\n\n<sup>*</sup>_See <https://developers.meethue.com/develop/hue-api-v2/getting-started/> for details. Use the_ Create Hue Access Token _subflow to obtain such a key._\n\n# Input\n\nResponse from a successful call to the `/resource` end-point of the [Philips Hue Bridge V2 API](https://developers.meethue.com/develop/hue-api-v2/api-reference/#resource) in `msg.payload`.\n\n# Output\n\nAn ongoing sequence of message objects representing the state of each device as reported by [SSE](https://developers.meethue.com/develop/hue-api-v2/core-concepts/#events). Each message will have the following properties set:\n\n| Property | Value |\n|-|-|\n| `msg.topic` | `${TOPIC}/<type>/<id>` where `<type>` and `<id>` are the identifiers for a given \"resource\" as reported by the Hue bridge API. |\n| `msg.qos` | 2 |\n| `msg.retain` | `true` |\n| `msg.payload` | The current state of the given \"resource\"<sup>**</sup> |\n\n<sup>**</sup>_Note that each output message will contain a combined set of properties for each \"resource\" received across multiple API responses and SSE messages. This mitigates one of the many issues with the design of the Philips Hue API. The cached state is maintained in flow context at runtime and as retained MQTT messages across reboots._",
        "category": "hue",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "98d7f50f7db89d4d"
                    },
                    {
                        "id": "42539f9217e51fbd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1170,
                "y": 140,
                "wires": [
                    {
                        "id": "7972bbcf134f786b",
                        "port": 0
                    },
                    {
                        "id": "f3d6eb631a33249c",
                        "port": 0
                    },
                    {
                        "id": "1bf87f4377d87af1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ADDRESS",
                "type": "env",
                "value": "ADDRESS"
            },
            {
                "name": "KEY",
                "type": "env",
                "value": "KEY"
            },
            {
                "name": "TOPIC",
                "type": "env",
                "value": "TOPIC"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-hue-to-mqtt",
            "type": "hue-to-mqtt",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Forward SSE events arising from the Hue Bridge API to MQTT",
            "keywords": "philips,hue,sse",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "outputLabels": [
            "mqtt"
        ],
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 700,
            "y": 340,
            "wires": [
                {
                    "id": "35fad88b119f8f36",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "de620fed3bdb7aa9",
        "type": "subflow",
        "name": "Server-Side Events",
        "info": "",
        "category": "waubesa",
        "in": [
            {
                "x": 680,
                "y": 140,
                "wires": [
                    {
                        "id": "eef1022d50fc9776"
                    },
                    {
                        "id": "df7f3018ef95e2a2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 100,
                "wires": [
                    {
                        "id": "cdd12e98966ee7c4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 220,
                "wires": [
                    {
                        "id": "cdd12e98966ee7c4",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1260,
                "y": 280,
                "wires": [
                    {
                        "id": "cdd12e98966ee7c4",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TIMEOUT",
                "type": "num",
                "value": "60000"
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-server-side-events",
            "type": "server-side-events",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Add watchdog timer to @parasaurolophus/node-red-eventsource",
            "keywords": "sse,eventsource",
            "license": "MIT"
        },
        "color": "#E7E7AE",
        "outputLabels": [
            "sse",
            "onopen",
            "onerror"
        ],
        "icon": "node-red/white-globe.svg",
        "status": {
            "x": 220,
            "y": 340,
            "wires": [
                {
                    "id": "d901234fd1fce55c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "a34d4eb04cf45884",
        "type": "subflow",
        "name": "Parse Hue Resources",
        "info": "",
        "category": "hue",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "6b8a0e371954f465"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 60,
                "wires": [
                    {
                        "id": "2d8a3e52f4b83d16",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "@parasaurolophus/node-red-parse-hue-resources",
            "type": "parse-hue-resources",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Parse the response to a \"/resource\" request from the Hue API V2",
            "keywords": "philips,hue.http",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "4b1f9e8c23fa098d",
        "type": "subflow",
        "name": "Parse Hue Event",
        "info": "",
        "category": "hue",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "11642f950d52a63f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 60,
                "wires": [
                    {
                        "id": "c4f2d5d0acdf4cc1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "@parasaurolophus/node-red-parse-hue-event",
            "type": "parse-hue-event",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Parse a raw Philips Hue bridge server-sent event",
            "keywords": "philips,hue,sse",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "inputLabels": [
            "raw sse"
        ],
        "outputLabels": [
            "hue event"
        ],
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 1040,
            "y": 140,
            "wires": [
                {
                    "id": "612b03cff3e03da9",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "658f7950e449a6aa",
        "type": "subflow",
        "name": "Hue SSE Status",
        "info": "",
        "category": "hue",
        "in": [],
        "out": [
            {
                "x": 390,
                "y": 60,
                "wires": [
                    {
                        "id": "11ead2b503a6826b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-hue-sse-status",
            "type": "hue-sse-status",
            "version": "1.0.0",
            "author": "parasuarolophus <apps@rader.us>",
            "desc": "Emit diagnostic information about a connection to the SSE service on a Hue Bridge",
            "keywords": "philips,hue,sse",
            "license": "MIT"
        },
        "color": "#AA77AA",
        "outputLabels": [
            "readyState",
            "connected count"
        ],
        "icon": "font-awesome/fa-lightbulb-o",
        "status": {
            "x": 520,
            "y": 140,
            "wires": [
                {
                    "id": "64a29e093d39ddca",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "9601cbf2386d897b",
        "type": "subflow",
        "name": "Count Messages",
        "info": "",
        "category": "waubesa",
        "in": [],
        "out": [
            {
                "x": 340,
                "y": 60,
                "wires": [
                    {
                        "id": "29db695f97cc5757",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 140,
                "wires": [
                    {
                        "id": "29db695f97cc5757",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "TOPIC",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {
            "module": "@parasaurolophus/node-red-count-messages",
            "type": "count-messages",
            "version": "1.0.0",
            "author": "parasaurolophus <apps@rader.us>",
            "desc": "Count the number of MQTT messages received on a specfied topic",
            "keywords": "mqtt",
            "license": "MIT"
        },
        "color": "#DDAA99",
        "status": {
            "x": 340,
            "y": 220,
            "wires": [
                {
                    "id": "3f4427884112393c",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ea7b9754db9fd0cd",
        "type": "group",
        "z": "adfd8ae4a2eaf844",
        "name": "Activate yard sunset scene on Chez Nous Main bridge using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "af712bf4ec4004b4",
            "18f53b7627e645e4",
            "b22f3931c3a7aaa9",
            "34a695c0d0260e5a",
            "d07f9471a4a06ae8",
            "74a870cad9944a03"
        ],
        "x": 134,
        "y": 119
    },
    {
        "id": "afbdc8b60c682c85",
        "type": "group",
        "z": "adfd8ae4a2eaf844",
        "name": "Activate yard jolly scene on Chez Nous Main bridge using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "074874e0ff13a7b1",
            "a5ea4f7eb61a9136",
            "60976d31a8dafe99",
            "256ba437f41dfbcf",
            "6cf088c77229de1d",
            "40657a16668306c1"
        ],
        "x": 134,
        "y": 419
    },
    {
        "id": "e936dbad3fb3b587",
        "type": "group",
        "z": "63d8cb10398da04b",
        "name": "Acitvate lighting theme",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "061d8c40c8ed16ab",
            "1993fd8165053adf",
            "981dbc2364b09d66",
            "549a2335fb839c37",
            "2837183323a61e04",
            "5ba41e8325888c23",
            "7ab1620c3349854b",
            "c68369c3781694e3",
            "b0ee0f2f8155fe9b",
            "e270017761dfd27d"
        ],
        "x": 114,
        "y": 179,
        "w": 502,
        "h": 302
    },
    {
        "id": "cccd3d3ae4af3207",
        "type": "group",
        "z": "1cf0490e7de2f93d",
        "name": "Fetch the PowerView window shade room and scene metadata from the Chez Nous Shades hub",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1cee4f351bd59563",
            "69a6db45ef9f6fdf",
            "4a774d5487ebaf6f",
            "42529821fe2b55cd",
            "837774c682b93af9",
            "9d0fb43b1d0b583f",
            "18b035d175d78813"
        ],
        "x": 34,
        "y": 139
    },
    {
        "id": "2238e89a8f0c976d",
        "type": "group",
        "z": "adfd8ae4a2eaf844",
        "name": "Turn off yard lights",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ec4c4a28a59d105e",
            "fb388fbfb4e38ca3",
            "dc1d9849661717f1"
        ],
        "x": 134,
        "y": 19
    },
    {
        "id": "dd577488786042ba",
        "type": "group",
        "z": "adfd8ae4a2eaf844",
        "name": "Activate yard spooky scene on Chez Nous Main bridge using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "29a6f065ab64d562",
            "53afc06e5cea0b0d",
            "a225232dc86a3b6f",
            "ce692ff752c427a6",
            "9fd4f397e5d23392",
            "ecf996995825cb3e"
        ],
        "x": 134,
        "y": 319
    },
    {
        "id": "0117b53379eade19",
        "type": "group",
        "z": "adfd8ae4a2eaf844",
        "name": "Activate yard tribal scene on Chez Nous Main bridge using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "816be5cd3b82bf0b",
            "ed68842beab6579e",
            "a6475288998b4e07",
            "35ec7b633401cd2e",
            "c5dfb48af9335c64",
            "2e85bfabe8b4104b"
        ],
        "x": 134,
        "y": 219
    },
    {
        "id": "87285e6bf01cff03",
        "type": "group",
        "z": "1cf0490e7de2f93d",
        "name": "Activate PowerView scene",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2f6cc09457939ce2",
            "7173aa38c9fa93dc",
            "618e79a58ab8143a"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "7176639d06e51ae4",
        "type": "group",
        "z": "454f48125d29e6ef",
        "name": "Send 'get' message to change state or acknowledge changed state",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8c1a2d6f2deaf1d4",
            "396131102099104a",
            "880157c6a43cf7ab",
            "d3ca376c2c496852",
            "9e6f207648497d21",
            "8fbc58fdceaae578"
        ],
        "x": 34,
        "y": 99
    },
    {
        "id": "0bfc5998715c0bc3",
        "type": "group",
        "z": "454f48125d29e6ef",
        "name": "Forward 'get' messages, which reflect updated switch state, to subflow output",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "45226efb3ae06fd5",
            "c56bfc3c002eaffb",
            "197274586411ddf6",
            "6e1a049e6caac0c6",
            "3607b11dc299fa3d"
        ],
        "x": 34,
        "y": 299
    },
    {
        "id": "e49c9571ddd5102f",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "Send to MQTT broker",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f5c7a7580984d067",
            "11b2638982da0e64",
            "dd7609e91ad64f63",
            "8145a71a1f26c616",
            "1c6a7f9ae824db96",
            "6db5c2fcb5fd08e3",
            "461d49b47e87e402",
            "5ea9e057dd830d9e",
            "5adbc418ab39d29a"
        ],
        "x": 134,
        "y": 39,
        "w": 572,
        "h": 202
    },
    {
        "id": "c47c0d5a1854a8ca",
        "type": "group",
        "z": "cbd68ba9caa96a3d",
        "name": "Fire timer events",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ab3a2e383ee84b6a",
            "988129e9c60e8818",
            "949418271b11ff8d",
            "f5b1881692fec9a3",
            "b0a75d84b9e77154",
            "20d4be0a2f8674c6",
            "9632421ff2220cf7",
            "98e7ed1f2c05288a",
            "e5be53de3ccb63ae",
            "8cd21d8332f6db6f",
            "69b99c3b64060e59"
        ],
        "x": 34,
        "y": 19,
        "w": 782,
        "h": 242
    },
    {
        "id": "5127a90040340ac3",
        "type": "group",
        "z": "63d8cb10398da04b",
        "name": "Activate window covering scene",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cf938465ddea10f9",
            "9b03415246d198b8",
            "310addfc860a77f6",
            "26eca110ce272b5b",
            "c7721dbd91af705c",
            "d1720471f23b3031",
            "a6534efd57a83bd1",
            "eae8f5a9e4a0a482"
        ],
        "x": 114,
        "y": 499,
        "w": 732,
        "h": 242
    },
    {
        "id": "ca14f3586a7c5f24",
        "type": "group",
        "z": "c7141ffb22d64190",
        "name": "Basement Hue",
        "style": {
            "label": true,
            "stroke": "none",
            "fill-opacity": "0.05",
            "color": "#000000",
            "stroke-opacity": "0.4",
            "fill": "#000000"
        },
        "nodes": [
            "9c46129d149ab201",
            "648ad874a33c7973",
            "0fc22be05cfc5241"
        ],
        "x": 28,
        "y": 393,
        "w": 804,
        "h": 334
    },
    {
        "id": "46f2fb3ee016fe23",
        "type": "group",
        "z": "c7141ffb22d64190",
        "name": "Chez Nous Main",
        "style": {
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000",
            "stroke": "none",
            "stroke-opacity": "0.4",
            "fill": "#000000"
        },
        "nodes": [
            "70e9b8db12799d18",
            "290b83ef8e01ae0f",
            "665df9d682462b5e"
        ],
        "x": 28,
        "y": 33,
        "w": 804,
        "h": 334
    },
    {
        "id": "23379c9c8c3b243e",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": false
        },
        "nodes": [
            "21679e08b9cf2dbd",
            "87fbecefe8135d77"
        ],
        "x": 134,
        "y": 359,
        "w": 432,
        "h": 82
    },
    {
        "id": "7519b16f6cae8e8a",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": false
        },
        "nodes": [
            "3a45f65735fa5469",
            "353e1ccbabccae7f"
        ],
        "x": 134,
        "y": 259,
        "w": 392,
        "h": 82
    },
    {
        "id": "1f92bd84e5fc85f2",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": false
        },
        "nodes": [
            "aa93bdbb5aa7d08c",
            "08c3b6627a851e95"
        ],
        "x": 134,
        "y": 459,
        "w": 332,
        "h": 82
    },
    {
        "id": "6c7bbad3f1eae3bb",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "name": "Main Floor (Hue Zone)",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "color": "#000000"
        },
        "nodes": [
            "1ce03cecd5db8bc6",
            "3483ce20c1996e6c",
            "e1fa765ec5a5ebd7"
        ],
        "x": 88,
        "y": 13
    },
    {
        "id": "e29b5646cac97198",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "name": "Main Bathroom (Hue Room)",
        "style": {
            "label": true,
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "color": "#000000"
        },
        "nodes": [
            "00ad2b71a9c29a21",
            "513bc529c9c10fa0"
        ],
        "x": 88,
        "y": 373
    },
    {
        "id": "b36cfe5d709eea6c",
        "type": "group",
        "z": "63d8cb10398da04b",
        "name": "UI for enabling automation",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4212d7a78c81cc93",
            "734b211ab18fcbb7",
            "cd16b58b722b2540",
            "831fb3f42898b50f",
            "6bcbbea082cb70bd"
        ],
        "x": 114,
        "y": 39,
        "w": 702,
        "h": 122
    },
    {
        "id": "6fcea92d03461935",
        "type": "group",
        "z": "cbd68ba9caa96a3d",
        "name": "Trigger automation",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a32b155805bc67e1",
            "485df563c6545698",
            "80170ed6abe053ca",
            "98e07825f41a09a2",
            "42a4e6d228c3271f",
            "f14873e6c525420f",
            "eff58d8a9acf14dc",
            "1b5ab2bf7ea37b3b",
            "15cb33f94fe6371a",
            "5e896842ec1ef52a"
        ],
        "x": 34,
        "y": 279,
        "w": 1022,
        "h": 202
    },
    {
        "id": "8dff7c51091f12ea",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "Display Chez Nous Main readyState on dashboard",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aa83f2d2b99d012e",
            "bf73d9fb33637e10"
        ],
        "x": 754,
        "y": 39,
        "w": 532,
        "h": 82
    },
    {
        "id": "b78fb0b9d14b12c6",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "Display Basement Hue readyState on dashboard",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "79f5591e72a3bc50",
            "f4bc6cd84cd984e4"
        ],
        "x": 754,
        "y": 239,
        "w": 532,
        "h": 82
    },
    {
        "id": "1ce03cecd5db8bc6",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "g": "6c7bbad3f1eae3bb",
        "name": "Turn off main floor lights group using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "07ccb0b07e6fada8",
            "4baea86ab327a4b9",
            "ec1b9da9a2a0dde0",
            "33533dc0ac4ff870",
            "2efdae9d98c90cf9",
            "76e95a00d6e3b9ad"
        ],
        "x": 114,
        "y": 39
    },
    {
        "id": "3483ce20c1996e6c",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "g": "6c7bbad3f1eae3bb",
        "name": "Activate main floor nightlight scene using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3ed1a4d37d1548b4",
            "53509cbc2f897eb4",
            "7b10a17dd5bc4c0f",
            "1462dac4d5543f0a",
            "c4ad8310f9a121b0",
            "08d74ad519cdaa27"
        ],
        "x": 114,
        "y": 139
    },
    {
        "id": "e1fa765ec5a5ebd7",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "g": "6c7bbad3f1eae3bb",
        "name": "Activate main floor sunset scene using HomeKit",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6cae9b1ccc68cb9e",
            "8ae7ee0c87df1191",
            "edc2f01358673517",
            "76f3eb6c53a0310c",
            "66b239fbae02c252",
            "c99382ee9ae33d16"
        ],
        "x": 114,
        "y": 239
    },
    {
        "id": "70e9b8db12799d18",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "46f2fb3ee016fe23",
        "name": "Send requests to the Hue API on the Chez Nous Main bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "14e5342cb50f366f",
            "7df3e5fbd6e9aa8a",
            "3b5ab296575b53d4"
        ],
        "x": 54,
        "y": 159,
        "w": 385,
        "h": 82
    },
    {
        "id": "290b83ef8e01ae0f",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "46f2fb3ee016fe23",
        "name": "Use within 30 seconds of pressing link button on Chez Nous Main bridge",
        "style": {
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000",
            "stroke": "none",
            "fill": "#000000"
        },
        "nodes": [
            "51bce99c75aa12c6",
            "f3ab10cd192709b0",
            "73a1ec5ed8ebc167"
        ],
        "x": 54,
        "y": 59,
        "w": 752,
        "h": 82
    },
    {
        "id": "665df9d682462b5e",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "46f2fb3ee016fe23",
        "name": "Listen to events from Chez Nous Main bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8c9d79d2791e9b02",
            "2d0604f94ef7bff4",
            "4d2dc9a6e42d0548",
            "7d283a2fc0d30093"
        ],
        "x": 54,
        "y": 259,
        "w": 662,
        "h": 82
    },
    {
        "id": "9c46129d149ab201",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "ca14f3586a7c5f24",
        "name": "Send requests to the Hue API on the Basement Hue bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "df7392117105107f",
            "df79272de1bce7c1",
            "0ceb59ac89fb79b7"
        ],
        "x": 54,
        "y": 519,
        "w": 375,
        "h": 82
    },
    {
        "id": "648ad874a33c7973",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "ca14f3586a7c5f24",
        "name": "Use within 30 seconds of pressing link button on Basement Hue bridge",
        "style": {
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000",
            "stroke": "none",
            "fill": "#000000"
        },
        "nodes": [
            "497b08f40cd0b29c",
            "9bcb520fd937694d",
            "7639b738a201d7c6"
        ],
        "x": 54,
        "y": 419,
        "w": 752,
        "h": 82
    },
    {
        "id": "0fc22be05cfc5241",
        "type": "group",
        "z": "c7141ffb22d64190",
        "g": "ca14f3586a7c5f24",
        "name": "Listen to events from Basement Hue bridge",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1209a8480a23b591",
            "14944e047cba03fa",
            "5e2f8ae74b053fc9",
            "a5f013472e32f50c"
        ],
        "x": 54,
        "y": 619,
        "w": 642,
        "h": 82
    },
    {
        "id": "00ad2b71a9c29a21",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "g": "e29b5646cac97198",
        "name": "Turn off main bathroom lights",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "08ca72b8e815a992",
            "2736157993771007",
            "0cb4aa086519cdc3"
        ],
        "x": 114,
        "y": 499
    },
    {
        "id": "513bc529c9c10fa0",
        "type": "group",
        "z": "e44149a93fbe9b1b",
        "g": "e29b5646cac97198",
        "name": "Activate main bathroom nightlight scene",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.05",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3deabbac44606076",
            "ec0f7c926936a835",
            "1af873ecc08861c7"
        ],
        "x": 114,
        "y": 399
    },
    {
        "id": "a1c9d751d12ee2c4",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "Display count of onopen events on dashboard",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e71557af20de9949",
            "3bbfe6126101e47a"
        ],
        "x": 754,
        "y": 139,
        "w": 592,
        "h": 82
    },
    {
        "id": "d0a0ed4db80319af",
        "type": "group",
        "z": "6e3ca82457d27245",
        "name": "Display count of onopen events on dashboard",
        "style": {
            "stroke": "none",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ff0320e7dcb99080",
            "b30654675fe6a404"
        ],
        "x": 754,
        "y": 339,
        "w": 572,
        "h": 82
    },
    {
        "id": "e79e0110c2317edb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "63c00f105cc3255f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#9929bd",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#9929bd",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#9929bd",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#bb58db",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#9929bd",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Waubesa",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "722d62f3b93039c3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ec4d94df679f3b11",
        "type": "ui_tab",
        "name": "Automation",
        "icon": "fa-clock-o",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25c7f0078ed443dd",
        "type": "ui_group",
        "name": "Time",
        "tab": "ec4d94df679f3b11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dc6e107af698a0c3",
        "type": "ui_group",
        "name": "CPU Temperature",
        "tab": "696b8efb10ee13b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0a1d0e699afa7c7d",
        "type": "ui_group",
        "name": "CPU Memory",
        "tab": "696b8efb10ee13b7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cfa1a0f4a477687c",
        "type": "ui_group",
        "name": "CPU Volts",
        "tab": "696b8efb10ee13b7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "696b8efb10ee13b7",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "03b0e40844d33477",
        "type": "ui_group",
        "name": "Chez Nous Main",
        "tab": "ec4d94df679f3b11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a0da6d89d75fc6ac",
        "type": "ui_group",
        "name": "Basement Hue",
        "tab": "ec4d94df679f3b11",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "991046045b37e3ee",
        "type": "ui_group",
        "name": "MQTT Broker",
        "tab": "ec4d94df679f3b11",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c9c806d81ab63ac4",
        "type": "delay",
        "z": "5785c8d9f39df67e",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "fa870f94fa1ea10b"
            ]
        ]
    },
    {
        "id": "fa870f94fa1ea10b",
        "type": "change",
        "z": "5785c8d9f39df67e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"hue-application-key\": $env('KEY')}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/clip/v2/' & topic",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "20ac42d7649c260a"
            ]
        ]
    },
    {
        "id": "20ac42d7649c260a",
        "type": "http request",
        "z": "5785c8d9f39df67e",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1e35b6e766e6b3d1",
        "type": "status",
        "z": "5785c8d9f39df67e",
        "name": "",
        "scope": [
            "c9c806d81ab63ac4"
        ],
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e4718ecfdb248cc7",
        "type": "http request",
        "z": "75bc72a16c4da2c8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7316ae1eef4c6295",
        "type": "change",
        "z": "75bc72a16c4da2c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"devicetype\":$env('USERNAME'),\"generateclientkey\":true}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/api'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "e4718ecfdb248cc7"
            ]
        ]
    },
    {
        "id": "64ad1b43047cb836",
        "type": "status",
        "z": "75bc72a16c4da2c8",
        "name": "",
        "scope": [
            "e4718ecfdb248cc7"
        ],
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cd442f62fd059172",
        "type": "change",
        "z": "9c4e4702e4660adf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'http://' & $env('ADDRESS') & '/api/scenes?sceneId=' & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "8dc3bcf508fc6c98"
            ]
        ]
    },
    {
        "id": "8dc3bcf508fc6c98",
        "type": "http request",
        "z": "9c4e4702e4660adf",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 490,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "728ab503eb1eb941",
        "type": "status",
        "z": "9c4e4702e4660adf",
        "name": "",
        "scope": [
            "dcd553804e687131"
        ],
        "x": 500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd553804e687131",
        "type": "delay",
        "z": "9c4e4702e4660adf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "cd442f62fd059172"
            ]
        ]
    },
    {
        "id": "465f820637e0f695",
        "type": "change",
        "z": "4920eed654c67f8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'http://' & $env('ADDRESS') & '/api/' & topic & '/'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "e62fe5c7c72b90ee"
            ]
        ]
    },
    {
        "id": "e62fe5c7c72b90ee",
        "type": "http request",
        "z": "4920eed654c67f8d",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "35c708b92ea8024b"
            ]
        ]
    },
    {
        "id": "014121091f945d16",
        "type": "status",
        "z": "4920eed654c67f8d",
        "name": "",
        "scope": [
            "e62fe5c7c72b90ee"
        ],
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "35c708b92ea8024b",
        "type": "change",
        "z": "4920eed654c67f8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":statusCode,\"shape\":\"dot\",\"fill\":(statusCode = 200 ? \"green\" : (statusCode < 200 or statusCode > 299 ? \"red\": \"yellow\"))}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8c1a2d6f2deaf1d4",
        "type": "mqtt in",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "set in",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "d3ca376c2c496852"
            ]
        ]
    },
    {
        "id": "45226efb3ae06fd5",
        "type": "mqtt in",
        "z": "454f48125d29e6ef",
        "g": "0bfc5998715c0bc3",
        "name": "get in",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "3607b11dc299fa3d"
            ]
        ]
    },
    {
        "id": "c56bfc3c002eaffb",
        "type": "status",
        "z": "454f48125d29e6ef",
        "g": "0bfc5998715c0bc3",
        "name": "get in",
        "scope": [
            "45226efb3ae06fd5"
        ],
        "x": 110,
        "y": 380,
        "wires": [
            [
                "197274586411ddf6"
            ]
        ]
    },
    {
        "id": "396131102099104a",
        "type": "status",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "set in",
        "scope": [
            "8c1a2d6f2deaf1d4"
        ],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "880157c6a43cf7ab"
            ]
        ]
    },
    {
        "id": "197274586411ddf6",
        "type": "switch",
        "z": "454f48125d29e6ef",
        "g": "0bfc5998715c0bc3",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "6e1a049e6caac0c6"
            ]
        ]
    },
    {
        "id": "880157c6a43cf7ab",
        "type": "switch",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "node-red:common.status.connected",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "9e6f207648497d21"
            ]
        ]
    },
    {
        "id": "d3ca376c2c496852",
        "type": "change",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'homebridge/' & $env('NAME') & '/get/on'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "retain",
                "pt": "msg",
                "to": "RETAIN",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "8fbc58fdceaae578"
            ]
        ]
    },
    {
        "id": "9e6f207648497d21",
        "type": "change",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "{\"topic\":'homebridge/' & $env('NAME') & '/set/on',\"qos\":2}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "8c1a2d6f2deaf1d4"
            ]
        ]
    },
    {
        "id": "6e1a049e6caac0c6",
        "type": "change",
        "z": "454f48125d29e6ef",
        "g": "0bfc5998715c0bc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "{\"topic\":'homebridge/' & $env('NAME') & '/get/on',\"qos\":2}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "45226efb3ae06fd5"
            ]
        ]
    },
    {
        "id": "3607b11dc299fa3d",
        "type": "rbe",
        "z": "454f48125d29e6ef",
        "g": "0bfc5998715c0bc3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 670,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8fbc58fdceaae578",
        "type": "mqtt out",
        "z": "454f48125d29e6ef",
        "g": "7176639d06e51ae4",
        "name": "get out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "722d62f3b93039c3",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5634a8534afa2ab",
        "type": "comment",
        "z": "454f48125d29e6ef",
        "name": "See subflow documentation for caveats",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "112df8f0c03fc7e8",
        "type": "rbe",
        "z": "c4207c9fe61a900e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "5c5acf089b206c21"
            ]
        ]
    },
    {
        "id": "5c5acf089b206c21",
        "type": "function",
        "z": "c4207c9fe61a900e",
        "name": "formatTable",
        "func": "node.status({\n    text: msg.topic + ':' + msg.payload,\n    shape: 'dot',\n    fill: 'blue'\n})\n\n////////////////////////////////////////////////////////////////////////////////\n//\n// Cache the cumulative state of a monitored attribute (CPU temperature, voltage\n// etc.) for all hosts\n//\n////////////////////////////////////////////////////////////////////////////////\n\nlet topic = msg.topic.split('/')\nlet host = topic[1]\nlet attribute = topic[2]\nlet state = context.get('state') || {}\nlet entry = state[host] || {}\n\nif (msg.payload === undefined || msg.payload == null || msg.payload == '' || Object.prototype.hasOwnProperty.call(msg, 'error')) {\n\n    // handle caught errors by deleting the corresponding\n    // attribute\n    if (Object.prototype.hasOwnProperty.call(entry, attribute)) {\n\n        delete entry[attribute]\n\n    }\n\n    // delete the whole entry if it has no other attributes\n    if (Object.prototype.hasOwnProperty.call(state, host) && Object.keys(entry).length == 0) {\n\n        delete state[host]\n\n    }\n\n} else {\n\n    // update the attribuate corresponding\n    // to the received event\n    entry[attribute] = msg.payload\n    state[host] = entry\n\n}\n\n// persist the updated state\ncontext.set('state', state)\n\n////////////////////////////////////////////////////////////////////////////////\n//\n// Output an HTML <table> containing the values of the given attribute for all\n// hosts for which values have been received\n//\n////////////////////////////////////////////////////////////////////////////////\n\nlet unit = env.get('UNIT')\nlet header = env.get('HEADER')\nlet table = '<table>'\nlet first = true\n\nfor (let host in state) {\n\n    let entry = state[host]\n\n    if (header && first) {\n\n        table += '<tr><th>host</th>'\n\n        for (let attribute in entry) {\n\n            table += '<th>'\n            table += attribute\n            table += '</th>'\n\n        }\n\n        table += '</tr>'\n\n    }\n\n    table += '<tr><td>'\n    table += host\n    table += '</td>'\n\n    for (let attribute in entry) {\n\n        table += '<td>'\n        table += entry[attribute] + unit\n        table += '</td>'\n\n    }\n\n    table  += '</tr>'\n    first = false\n\n}\n\ntable += '</table>'\nmsg.payload = table\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "7004b9b981e156bb",
        "type": "mqtt in",
        "z": "c4207c9fe61a900e",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "utf8",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "112df8f0c03fc7e8"
            ]
        ]
    },
    {
        "id": "f1901e3f3d155ae5",
        "type": "status",
        "z": "c4207c9fe61a900e",
        "name": "",
        "scope": null,
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7972bbcf134f786b",
        "type": "function",
        "z": "4e89e7c952d56c09",
        "name": "updateState",
        "func": "node.status({\n    text: msg.topic + ' ' + msg.payload.type,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nconst state = flow.get('state') || {}\nconst type = state[msg.payload.type] || {}\nconst resource = type[msg.payload.id] || {}\n\nfor (let attribute in msg.payload) {\n\n    resource[attribute] = msg.payload[attribute]\n\n}\n\ntype[resource.id] = resource\nstate[resource.type] = type\nflow.set('state', state)\n\nmsg.topic = env.get('TOPIC') + '/' + resource.type + '/' + resource.id\nmsg.qos = 2\nmsg.retain = true\nmsg.payload = resource\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "74ccf37d5b5cc460",
        "type": "switch",
        "z": "4e89e7c952d56c09",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "topic = 'add' or topic = 'update'",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "delete",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "7972bbcf134f786b"
            ],
            [
                "f3d6eb631a33249c"
            ]
        ]
    },
    {
        "id": "f3d6eb631a33249c",
        "type": "function",
        "z": "4e89e7c952d56c09",
        "name": "deleteState",
        "func": "node.status({\n    text: msg.topic + ' ' + msg.payload.type,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nconst state = flow.get('state') || {}\n\nif (Object.prototype.hasOwnProperty.call(state, msg.payload.type)) {\n\n    const type = state[msg.payload.type]\n\n    if (Object.prototype.hasOwnProperty.call(type, msg.payload.id)) {\n\n        delete type[msg.payload.id]\n\n    }\n\n}\n\nflow.set('state', state)\n\nmsg.topic = env.get('TOPIC') + '/' + msg.payload.type + '/' + msg.payload.id\nmsg.qos = 2\nmsg.retain = true\nmsg.payload = ''\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "35fad88b119f8f36",
        "type": "status",
        "z": "4e89e7c952d56c09",
        "name": "",
        "scope": [
            "b3c5813303ac7896"
        ],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "9827fd9dee4289ac"
            ]
        ]
    },
    {
        "id": "b3c5813303ac7896",
        "type": "subflow:de620fed3bdb7aa9",
        "z": "4e89e7c952d56c09",
        "name": "",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "c51e9f68572dcd4f"
            ],
            [
                "1bf87f4377d87af1"
            ],
            [
                "1bf87f4377d87af1"
            ]
        ]
    },
    {
        "id": "98d7f50f7db89d4d",
        "type": "subflow:a34d4eb04cf45884",
        "z": "4e89e7c952d56c09",
        "name": "",
        "x": 620,
        "y": 60,
        "wires": [
            [
                "74ccf37d5b5cc460"
            ]
        ]
    },
    {
        "id": "c51e9f68572dcd4f",
        "type": "subflow:4b1f9e8c23fa098d",
        "z": "4e89e7c952d56c09",
        "name": "",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "74ccf37d5b5cc460"
            ]
        ]
    },
    {
        "id": "42539f9217e51fbd",
        "type": "change",
        "z": "4e89e7c952d56c09",
        "name": "hue parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"url\":\"https://\" & $env('ADDRESS') & \"/eventstream/clip/v2\",\"initDict\":{\"withCredentials\":false,\"https\":{\"rejectUnauthorized\":false},\"headers\":{\"hue-application-key\":$env('KEY')}}}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "b3c5813303ac7896"
            ]
        ]
    },
    {
        "id": "1bf87f4377d87af1",
        "type": "change",
        "z": "4e89e7c952d56c09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$env('TOPIC') & '/' & topic",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "retain",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9827fd9dee4289ac",
        "type": "change",
        "z": "4e89e7c952d56c09",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "status",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(status.text)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "1bf87f4377d87af1"
            ]
        ]
    },
    {
        "id": "cdd12e98966ee7c4",
        "type": "EventSource",
        "z": "de620fed3bdb7aa9",
        "name": "",
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "0d59cdef0e0a6e85"
            ],
            [
                "0d59cdef0e0a6e85"
            ],
            [
                "10539047c783b994"
            ]
        ]
    },
    {
        "id": "eef1022d50fc9776",
        "type": "change",
        "z": "de620fed3bdb7aa9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parameters",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "cdd12e98966ee7c4"
            ]
        ]
    },
    {
        "id": "d901234fd1fce55c",
        "type": "status",
        "z": "de620fed3bdb7aa9",
        "name": "",
        "scope": [
            "cdd12e98966ee7c4"
        ],
        "x": 100,
        "y": 300,
        "wires": [
            [
                "fabe0aac918a0c99"
            ]
        ]
    },
    {
        "id": "fabe0aac918a0c99",
        "type": "switch",
        "z": "de620fed3bdb7aa9",
        "name": "readyState = 2?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "48fa5f1a9c9b1ec2"
            ],
            [
                "084266e8becbe572"
            ]
        ]
    },
    {
        "id": "c97d943953f14d84",
        "type": "trigger",
        "z": "de620fed3bdb7aa9",
        "name": "watchdog",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "1",
        "extend": true,
        "overrideDelay": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 260,
        "wires": [
            [
                "ba3b9c14ec9f5691"
            ]
        ]
    },
    {
        "id": "084266e8becbe572",
        "type": "change",
        "z": "de620fed3bdb7aa9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "c97d943953f14d84"
            ]
        ]
    },
    {
        "id": "0d59cdef0e0a6e85",
        "type": "link out",
        "z": "de620fed3bdb7aa9",
        "name": "watchdog",
        "mode": "link",
        "links": [
            "1d6da76cca173646"
        ],
        "x": 1215,
        "y": 160,
        "wires": []
    },
    {
        "id": "1d6da76cca173646",
        "type": "link in",
        "z": "de620fed3bdb7aa9",
        "name": "watchdog",
        "links": [
            "0d59cdef0e0a6e85"
        ],
        "x": 345,
        "y": 180,
        "wires": [
            [
                "48fa5f1a9c9b1ec2"
            ]
        ],
        "info": "// nrlint align-to-grid:off\n"
    },
    {
        "id": "3ba637cbe04def58",
        "type": "link in",
        "z": "de620fed3bdb7aa9",
        "name": "reset",
        "links": [
            "10539047c783b994",
            "df7f3018ef95e2a2"
        ],
        "x": 345,
        "y": 340,
        "wires": [
            [
                "084266e8becbe572"
            ]
        ],
        "info": "// nrlint align-to-grid:off\n"
    },
    {
        "id": "10539047c783b994",
        "type": "link out",
        "z": "de620fed3bdb7aa9",
        "name": "reset",
        "mode": "link",
        "links": [
            "3ba637cbe04def58"
        ],
        "x": 1215,
        "y": 340,
        "wires": []
    },
    {
        "id": "df7f3018ef95e2a2",
        "type": "link out",
        "z": "de620fed3bdb7aa9",
        "name": "reset",
        "mode": "link",
        "links": [
            "3ba637cbe04def58"
        ],
        "x": 755,
        "y": 100,
        "wires": []
    },
    {
        "id": "48fa5f1a9c9b1ec2",
        "type": "change",
        "z": "de620fed3bdb7aa9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "TIMEOUT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "c97d943953f14d84"
            ]
        ]
    },
    {
        "id": "ba3b9c14ec9f5691",
        "type": "change",
        "z": "de620fed3bdb7aa9",
        "name": "get flow.parameters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "parameters",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "cdd12e98966ee7c4"
            ]
        ]
    },
    {
        "id": "6b8a0e371954f465",
        "type": "function",
        "z": "a34d4eb04cf45884",
        "name": "segregateTypes",
        "func": "if (msg.payload.errors.length > 0) {\n\n    throw msg.payload.errors\n\n}\n\nlet resources = msg.payload.data\n\nlet arrays = {}\n\nresources.forEach((/** @type {{ type: string | number; }} */ resource) => {\n\n    let array = arrays[resource.type] || []\n    \n    array.push(resource)\n    arrays[resource.type] = array\n\n})\n\nmsg.payload = arrays\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "2e7becc56a96c4dc"
            ]
        ]
    },
    {
        "id": "2e7becc56a96c4dc",
        "type": "split",
        "z": "a34d4eb04cf45884",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "b1dd91dbd450f89f"
            ]
        ]
    },
    {
        "id": "b1dd91dbd450f89f",
        "type": "switch",
        "z": "a34d4eb04cf45884",
        "name": "filter resources",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "topic = 'grouped_light' or topic = 'button' or topic = 'motion'",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "c38043f17fec59c0"
            ]
        ]
    },
    {
        "id": "c38043f17fec59c0",
        "type": "split",
        "z": "a34d4eb04cf45884",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "2d8a3e52f4b83d16"
            ]
        ]
    },
    {
        "id": "2d8a3e52f4b83d16",
        "type": "change",
        "z": "a34d4eb04cf45884",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "update",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "11642f950d52a63f",
        "type": "change",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "d6816cf71b63c27e"
            ]
        ]
    },
    {
        "id": "d6816cf71b63c27e",
        "type": "json",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "b4da061c0dd45c54"
            ]
        ]
    },
    {
        "id": "b4da061c0dd45c54",
        "type": "split",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "94e9fe9a9f7af221"
            ]
        ]
    },
    {
        "id": "94e9fe9a9f7af221",
        "type": "change",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.type",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "c4f2d5d0acdf4cc1"
            ]
        ]
    },
    {
        "id": "c4f2d5d0acdf4cc1",
        "type": "split",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "612b03cff3e03da9"
            ]
        ]
    },
    {
        "id": "612b03cff3e03da9",
        "type": "change",
        "z": "4b1f9e8c23fa098d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":payload.type,\"shape\":\"ring\",\"fill\":\"blue\"}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a22feaa163af73a9",
        "type": "mqtt in",
        "z": "658f7950e449a6aa",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "11ead2b503a6826b"
            ]
        ]
    },
    {
        "id": "11ead2b503a6826b",
        "type": "rbe",
        "z": "658f7950e449a6aa",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "64a29e093d39ddca"
            ]
        ]
    },
    {
        "id": "64a29e093d39ddca",
        "type": "change",
        "z": "658f7950e449a6aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"text\":payload,\t   \"shape\":\"dot\",\t   \"fill\":\"blue\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3889cb8956554e6f",
        "type": "mqtt in",
        "z": "9601cbf2386d897b",
        "name": "",
        "topic": "${TOPIC}",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "29db695f97cc5757"
            ]
        ]
    },
    {
        "id": "29db695f97cc5757",
        "type": "function",
        "z": "9601cbf2386d897b",
        "name": "count",
        "func": "let count = context.get('count') || 0\n\ncount += 1\ncontext.set('count', count)\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: count\n})\n\nreturn [\n    msg,\n    { payload: count }\n]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3f4427884112393c",
        "type": "status",
        "z": "9601cbf2386d897b",
        "name": "",
        "scope": [
            "29db695f97cc5757"
        ],
        "x": 240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab3a2e383ee84b6a",
        "type": "join",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 100,
        "wires": [
            [
                "988129e9c60e8818"
            ]
        ]
    },
    {
        "id": "988129e9c60e8818",
        "type": "function",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "time",
        "func": "/**\n * Determine a `time` based on given values for `sunrise`, `sunset`, `bedtime` and `now`,\n * where `offset`, below, is ((`sunset` - `sunrise`) / 3):\n * \n * | `time`      | description                                                            |\n * |-------------|------------------------------------------------------------------------|\n * | `morning`   | `now` is between `sunrise` and (`sunrise` + `offset`)                  |\n * | `midday`    | `now` is between (`sunrise` + `offset`) and (`sunset` - `offset`)      |\n * | `afternoon` | `now` is between (`sunset` - `offset`) and `sunset`                    |\n * | `evening`   | `now` is between `sunset` and `bedtime`                                |\n * | `night`     | otherwise [i.e. `now` is between `bedtime` and `sunrise` the next day] |\n */\n\nconst theme = msg.payload.daily.theme\nconst now = new Date(msg.payload.now)\nconst minutes = now.getHours() * 60 + now.getMinutes()\nconst sunrise = msg.payload.daily.sunrise\nconst sunset = msg.payload.daily.sunset\nconst bedtime = msg.payload.daily.bedtime\nconst offset = Math.floor((sunset - sunrise) / 3)\nlet midday = sunrise + offset\nlet afternoon = sunset - offset\n\nmsg.payload = {\n    theme: theme,\n}\n\nif (minutes < sunrise) {\n\n    msg.payload.time = 'night'\n\n} else if (minutes < midday) {\n\n    msg.payload.time = 'morning'\n\n} else if (minutes < afternoon) {\n\n    msg.payload.time = 'midday'\n\n} else if (minutes < sunset) {\n\n    msg.payload.time = 'afternoon'\n\n} else if (minutes < bedtime) {\n\n    msg.payload.time = 'evening'\n\n} else {\n\n    msg.payload.time = 'night'\n\n}\n\nnode.status({\n    text: msg.payload.time,\n    shape: 'dot',\n    fill: 'blue'\n})\n\nmsg.topic = 'nodered/automation/time'\nmsg.qos = 2\nmsg.retain = true\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "949418271b11ff8d"
            ]
        ],
        "outputLabels": [
            "times"
        ]
    },
    {
        "id": "949418271b11ff8d",
        "type": "rbe",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "9632421ff2220cf7"
            ]
        ]
    },
    {
        "id": "f5b1881692fec9a3",
        "type": "inject",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "every minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "now",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "ab3a2e383ee84b6a"
            ]
        ]
    },
    {
        "id": "b0a75d84b9e77154",
        "type": "inject",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "every midnight",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "98e7ed1f2c05288a"
            ]
        ]
    },
    {
        "id": "20d4be0a2f8674c6",
        "type": "inject",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "at start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "98e7ed1f2c05288a"
            ]
        ]
    },
    {
        "id": "9632421ff2220cf7",
        "type": "link out",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "send to broker",
        "mode": "link",
        "links": [
            "dd7609e91ad64f63"
        ],
        "x": 775,
        "y": 100,
        "wires": []
    },
    {
        "id": "98e7ed1f2c05288a",
        "type": "function",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "name": "daily",
        "func": "/*global suncalc*/\n\n/**\n * Send a message when the flow starts, and every midnight\n * thereafter, containing:\n * \n * - `sunrise`: the number of minutes after midnight at which\n *              the sun will rise\n * \n * - `sunset`:  the number of minutes after midnight at which\n *              the sun will set\n * \n * - `bedtime`: a randomly generated number of minutes after\n *              midnight, the later of:\n * \n *              1. 10:00 PM (22:00) plus or minus 30 minutes\n * \n *              2. 30 - 60 minutes after sunset, if the preceding\n *                 would occur after the sun has set\n * \n * - `theme`:   one of `standard`, `tribal`, `spooky` or `jolly`\n *              depending on the day and date\n * \n *              | theme      | description         |\n *              |------------|---------------------|\n *              | `tribal`   | July 1 - 4          |\n *              | `spooky`   | any day in October  |\n *              | `jolly`    | any day in December |\n *              | `standard` | any other day       |\n * \n * > Notes:\n * >\n * > - This node depends on the _suncalc_ package to determine\n * >   `sunrise` and `sunset`.\n * >\n * > - It assumes that the geographic coordinates to use with\n * >   the _suncalc_ library are set using `LATITUDE` and\n * >   `LONGITUDE` environment variables.\n * >\n * > - It also assumes that the host OS is configured such that\n * >   functions like `Date.toHours()` will operate in the correct\n * >   time zone for the location specified by `${LATITUDE}`\n * >   and `${LONGITUDE}`\n */\n\n//////////////////////////////////////////////////////////////////////\n// sunrise / sunset\n//////////////////////////////////////////////////////////////////////\n\nconst date = new Date(msg.payload)\nconst latitude = env.get('LATITUDE')\nconst longitude = env.get('LONGITUDE')\nconst times = suncalc.getTimes(date, latitude, longitude)\n\n/**\n* @param {Date} date\n*/\nfunction toMinutes(date) {\n\n    return date.getHours() * 60 + date.getMinutes()\n\n}\n\nmsg.payload = {\n    sunrise: toMinutes(times.sunrise),\n    sunset: toMinutes(times.sunset),\n}\n\n//////////////////////////////////////////////////////////////////////\n// theme\n//////////////////////////////////////////////////////////////////////\n\nconst month = date.getMonth() + 1\nconst day = date.getDate()\n\nif (month == 7 && day <= 4) {\n\n    msg.payload.theme = 'tribal'\n\n} else if (month == 10) {\n\n    msg.payload.theme = 'spooky'\n\n} else if (month == 12) {\n\n    msg.payload.theme = 'jolly'\n\n} else {\n\n    msg.payload.theme = 'standard'\n\n}\n\n//////////////////////////////////////////////////////////////////////\n// bedtime\n//////////////////////////////////////////////////////////////////////\n\nmsg.payload.bedtime = 1350 - Math.floor(Math.random() * 60)\n\nif (msg.payload.bedtime <= msg.payload.sunset) {\n\n    msg.payload.bedtime = msg.payload.sunset + 30 + Math.floor(Math.random() * 30)\n\n}\n\n//////////////////////////////////////////////////////////////////////\n// status and topic\n//////////////////////////////////////////////////////////////////////\n\n/**\n* @param {number} minutes\n*/\nfunction formatMinutes(minutes) {\n\n    const h = Math.floor(minutes / 60)\n    const m = minutes % 60\n    const a = ((h > 12) ? ' PM' : ' AM')\n\n    return String(h % 12).padStart(2, ' ') + ':' + String(m).padStart(2, '0') + a\n\n}\n\nconst formattedSunrise = formatMinutes(msg.payload.sunrise)\nconst formattedSunset = formatMinutes(msg.payload.sunset)\nconst formattedBedtime = formatMinutes(msg.payload.bedtime)\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: msg.payload.theme\n})\n\nmsg.topic = 'daily'\nreturn [\n    msg,\n    { payload: formattedSunrise },\n    { payload: formattedSunset },\n    { payload: formattedBedtime }\n]",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "suncalc",
                "module": "suncalc"
            }
        ],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "ab3a2e383ee84b6a"
            ],
            [
                "e5be53de3ccb63ae"
            ],
            [
                "8cd21d8332f6db6f"
            ],
            [
                "69b99c3b64060e59"
            ]
        ],
        "outputLabels": [
            "times",
            "sunrise",
            "sunset",
            "bedtime"
        ]
    },
    {
        "id": "a32b155805bc67e1",
        "type": "mqtt in",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "",
        "topic": "nodered/automation/time",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "485df563c6545698"
            ]
        ]
    },
    {
        "id": "485df563c6545698",
        "type": "join",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "80170ed6abe053ca"
            ]
        ]
    },
    {
        "id": "80170ed6abe053ca",
        "type": "change",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "flatten payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t   $time := $lookup(payload, 'nodered/automation/time');\t   $enable := $lookup(payload, 'nodered/automation/enable');\t   {\t       \"time\": $time.time,\t       \"theme\": $time.theme,\t       \"enable\":$enable \t   }\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "98e07825f41a09a2",
                "f14873e6c525420f",
                "42a4e6d228c3271f",
                "5e896842ec1ef52a"
            ]
        ]
    },
    {
        "id": "98e07825f41a09a2",
        "type": "rbe",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "1b5ab2bf7ea37b3b"
            ]
        ]
    },
    {
        "id": "42a4e6d228c3271f",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "group": "25c7f0078ed443dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Theme",
        "format": "{{msg.payload.theme}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "f14873e6c525420f",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "group": "25c7f0078ed443dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "eff58d8a9acf14dc",
        "type": "link out",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "trigger timed automation",
        "mode": "link",
        "links": [
            "1993fd8165053adf",
            "0514602b711a8136",
            "9b03415246d198b8"
        ],
        "x": 1015,
        "y": 320,
        "wires": []
    },
    {
        "id": "1b5ab2bf7ea37b3b",
        "type": "switch",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "automation enabled?",
        "property": "payload.enable",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "eff58d8a9acf14dc"
            ]
        ]
    },
    {
        "id": "15cb33f94fe6371a",
        "type": "link in",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "name": "automation enable",
        "links": [
            "6bcbbea082cb70bd"
        ],
        "x": 265,
        "y": 360,
        "wires": [
            [
                "485df563c6545698"
            ]
        ],
        "info": "// nrlint align-to-grid:off\n"
    },
    {
        "id": "5e896842ec1ef52a",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "6fcea92d03461935",
        "group": "25c7f0078ed443dd",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Enabled",
        "format": "{{msg.payload.enable}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "e5be53de3ccb63ae",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "group": "25c7f0078ed443dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunrise",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "8cd21d8332f6db6f",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "group": "25c7f0078ed443dd",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunset",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "69b99c3b64060e59",
        "type": "ui_text",
        "z": "cbd68ba9caa96a3d",
        "g": "c47c0d5a1854a8ca",
        "group": "25c7f0078ed443dd",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bedtime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "061d8c40c8ed16ab",
        "type": "switch",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "time",
        "property": "payload.time",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "981dbc2364b09d66"
            ],
            [
                "2837183323a61e04",
                "5ba41e8325888c23"
            ],
            [
                "549a2335fb839c37"
            ]
        ]
    },
    {
        "id": "549a2335fb839c37",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "activate night",
        "mode": "link",
        "links": [
            "fbd53f7f18ca6655",
            "3ed1a4d37d1548b4",
            "ec4c4a28a59d105e",
            "ec0f7c926936a835"
        ],
        "x": 415,
        "y": 440,
        "wires": []
    },
    {
        "id": "2837183323a61e04",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "trigger main floor evening",
        "mode": "link",
        "links": [
            "6cae9b1ccc68cb9e"
        ],
        "x": 415,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ab1620c3349854b",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "trigger yard tribal",
        "mode": "link",
        "links": [
            "a6475288998b4e07"
        ],
        "x": 575,
        "y": 240,
        "wires": []
    },
    {
        "id": "c68369c3781694e3",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "trigger yard spooky",
        "mode": "link",
        "links": [
            "a225232dc86a3b6f"
        ],
        "x": 575,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0ee0f2f8155fe9b",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "trigger yard jolly",
        "mode": "link",
        "links": [
            "60976d31a8dafe99",
            "a225232dc86a3b6f",
            "a6475288998b4e07"
        ],
        "x": 575,
        "y": 320,
        "wires": []
    },
    {
        "id": "e270017761dfd27d",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "trigger yard standard",
        "mode": "link",
        "links": [
            "18f53b7627e645e4"
        ],
        "x": 575,
        "y": 360,
        "wires": []
    },
    {
        "id": "981dbc2364b09d66",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "activate morning",
        "mode": "link",
        "links": [
            "e74fcadba6a2b4ca",
            "07ccb0b07e6fada8",
            "ec4c4a28a59d105e",
            "08ca72b8e815a992"
        ],
        "x": 415,
        "y": 220,
        "wires": []
    },
    {
        "id": "1993fd8165053adf",
        "type": "link in",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "lighting automation",
        "links": [
            "eff58d8a9acf14dc"
        ],
        "x": 155,
        "y": 340,
        "wires": [
            [
                "061d8c40c8ed16ab"
            ]
        ]
    },
    {
        "id": "5ba41e8325888c23",
        "type": "switch",
        "z": "63d8cb10398da04b",
        "g": "e936dbad3fb3b587",
        "name": "theme",
        "property": "payload.theme",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tribal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "spooky",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "jolly",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "7ab1620c3349854b"
            ],
            [
                "c68369c3781694e3"
            ],
            [
                "b0ee0f2f8155fe9b"
            ],
            [
                "e270017761dfd27d"
            ]
        ]
    },
    {
        "id": "cf938465ddea10f9",
        "type": "link call",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "",
        "links": [
            "7173aa38c9fa93dc"
        ],
        "timeout": "30",
        "x": 710,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9b03415246d198b8",
        "type": "link in",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "window shade automation",
        "links": [
            "eff58d8a9acf14dc"
        ],
        "x": 155,
        "y": 620,
        "wires": [
            [
                "eae8f5a9e4a0a482"
            ]
        ]
    },
    {
        "id": "310addfc860a77f6",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "morning",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "17655",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "cf938465ddea10f9"
            ]
        ]
    },
    {
        "id": "26eca110ce272b5b",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "midday",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "47566",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "cf938465ddea10f9"
            ]
        ]
    },
    {
        "id": "c7721dbd91af705c",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "afternoon",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "44035",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 620,
        "wires": [
            [
                "cf938465ddea10f9"
            ]
        ]
    },
    {
        "id": "d1720471f23b3031",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "evening",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "32086",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "cf938465ddea10f9"
            ]
        ]
    },
    {
        "id": "a6534efd57a83bd1",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "night ::::",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "31086",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "cf938465ddea10f9"
            ]
        ]
    },
    {
        "id": "eae8f5a9e4a0a482",
        "type": "switch",
        "z": "63d8cb10398da04b",
        "g": "5127a90040340ac3",
        "name": "time",
        "property": "payload.time",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "morning",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "midday",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "afternoon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "310addfc860a77f6"
            ],
            [
                "26eca110ce272b5b"
            ],
            [
                "c7721dbd91af705c"
            ],
            [
                "d1720471f23b3031"
            ],
            [
                "a6534efd57a83bd1"
            ]
        ],
        "inputLabels": [
            "suncalc"
        ],
        "outputLabels": [
            "morning",
            "midday",
            "afternoon",
            "evening",
            "night"
        ]
    },
    {
        "id": "4212d7a78c81cc93",
        "type": "ui_switch",
        "z": "63d8cb10398da04b",
        "g": "b36cfe5d709eea6c",
        "name": "Enable Automation",
        "label": "Enable",
        "tooltip": "",
        "group": "25c7f0078ed443dd",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "cd16b58b722b2540"
            ]
        ]
    },
    {
        "id": "734b211ab18fcbb7",
        "type": "mqtt in",
        "z": "63d8cb10398da04b",
        "g": "b36cfe5d709eea6c",
        "name": "",
        "topic": "nodered/automation/enable",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "4212d7a78c81cc93",
                "6bcbbea082cb70bd"
            ]
        ]
    },
    {
        "id": "cd16b58b722b2540",
        "type": "change",
        "z": "63d8cb10398da04b",
        "g": "b36cfe5d709eea6c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "nodered/automation/enable",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "qos",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "retain",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "831fb3f42898b50f"
            ]
        ]
    },
    {
        "id": "831fb3f42898b50f",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "b36cfe5d709eea6c",
        "name": "send to broker",
        "mode": "link",
        "links": [
            "dd7609e91ad64f63"
        ],
        "x": 775,
        "y": 120,
        "wires": []
    },
    {
        "id": "6bcbbea082cb70bd",
        "type": "link out",
        "z": "63d8cb10398da04b",
        "g": "b36cfe5d709eea6c",
        "name": "automation enable",
        "mode": "link",
        "links": [
            "15cb33f94fe6371a"
        ],
        "x": 395,
        "y": 80,
        "wires": []
    },
    {
        "id": "14e5342cb50f366f",
        "type": "link out",
        "z": "c7141ffb22d64190",
        "g": "70e9b8db12799d18",
        "name": "return from chez nous main api",
        "mode": "return",
        "links": [],
        "x": 355,
        "y": 200,
        "wires": []
    },
    {
        "id": "7df3e5fbd6e9aa8a",
        "type": "link in",
        "z": "c7141ffb22d64190",
        "g": "70e9b8db12799d18",
        "name": "send to chez nous main",
        "links": [],
        "x": 95,
        "y": 200,
        "wires": [
            [
                "3b5ab296575b53d4"
            ]
        ],
        "outputLabels": [
            "topic = uri, payload = body, method = HTTP request type"
        ]
    },
    {
        "id": "3b5ab296575b53d4",
        "type": "subflow:5785c8d9f39df67e",
        "z": "c7141ffb22d64190",
        "g": "70e9b8db12799d18",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "CHEZ_NOUS_MAIN_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "CHEZ_NOUS_MAIN_KEY",
                "type": "env"
            }
        ],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "14e5342cb50f366f"
            ]
        ]
    },
    {
        "id": "51bce99c75aa12c6",
        "type": "inject",
        "z": "c7141ffb22d64190",
        "g": "290b83ef8e01ae0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "73a1ec5ed8ebc167"
            ]
        ]
    },
    {
        "id": "f3ab10cd192709b0",
        "type": "debug",
        "z": "c7141ffb22d64190",
        "g": "290b83ef8e01ae0f",
        "name": "chez nous main application key",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "73a1ec5ed8ebc167",
        "type": "subflow:75bc72a16c4da2c8",
        "z": "c7141ffb22d64190",
        "g": "290b83ef8e01ae0f",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "CHEZ_NOUS_MAIN_ADDRESS",
                "type": "env"
            },
            {
                "name": "USERNAME",
                "value": "nodered#cheznous",
                "type": "str"
            }
        ],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "f3ab10cd192709b0"
            ]
        ]
    },
    {
        "id": "4d2dc9a6e42d0548",
        "type": "link out",
        "z": "c7141ffb22d64190",
        "g": "665df9d682462b5e",
        "name": "send to broker",
        "mode": "link",
        "links": [
            "dd7609e91ad64f63"
        ],
        "x": 675,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d0604f94ef7bff4",
        "type": "inject",
        "z": "c7141ffb22d64190",
        "g": "665df9d682462b5e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "resource",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "8c9d79d2791e9b02"
            ]
        ]
    },
    {
        "id": "8c9d79d2791e9b02",
        "type": "link call",
        "z": "c7141ffb22d64190",
        "g": "665df9d682462b5e",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "7d283a2fc0d30093"
            ]
        ]
    },
    {
        "id": "7d283a2fc0d30093",
        "type": "subflow:4e89e7c952d56c09",
        "z": "c7141ffb22d64190",
        "g": "665df9d682462b5e",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "CHEZ_NOUS_MAIN_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "CHEZ_NOUS_MAIN_KEY",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "CHEZ_NOUS_MAIN_TOPIC",
                "type": "env"
            }
        ],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "4d2dc9a6e42d0548"
            ]
        ]
    },
    {
        "id": "df7392117105107f",
        "type": "link out",
        "z": "c7141ffb22d64190",
        "g": "9c46129d149ab201",
        "name": "return from basement hue api",
        "mode": "return",
        "links": [],
        "x": 355,
        "y": 560,
        "wires": []
    },
    {
        "id": "df79272de1bce7c1",
        "type": "link in",
        "z": "c7141ffb22d64190",
        "g": "9c46129d149ab201",
        "name": "send to basement hue",
        "links": [],
        "x": 95,
        "y": 560,
        "wires": [
            [
                "0ceb59ac89fb79b7"
            ]
        ],
        "outputLabels": [
            "topic = uri, payload = body, method = HTTP request type"
        ]
    },
    {
        "id": "0ceb59ac89fb79b7",
        "type": "subflow:5785c8d9f39df67e",
        "z": "c7141ffb22d64190",
        "g": "9c46129d149ab201",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "BASEMENT_HUE_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "BASEMENT_HUE_KEY",
                "type": "env"
            }
        ],
        "x": 230,
        "y": 560,
        "wires": [
            [
                "df7392117105107f"
            ]
        ]
    },
    {
        "id": "497b08f40cd0b29c",
        "type": "inject",
        "z": "c7141ffb22d64190",
        "g": "648ad874a33c7973",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "7639b738a201d7c6"
            ]
        ]
    },
    {
        "id": "9bcb520fd937694d",
        "type": "debug",
        "z": "c7141ffb22d64190",
        "g": "648ad874a33c7973",
        "name": "basement hue application key",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload[0].success.username",
        "statusType": "msg",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "7639b738a201d7c6",
        "type": "subflow:75bc72a16c4da2c8",
        "z": "c7141ffb22d64190",
        "g": "648ad874a33c7973",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "BASEMENT_HUE_ADDRESS",
                "type": "env"
            },
            {
                "name": "USERNAME",
                "value": "nodered#cheznous",
                "type": "str"
            }
        ],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "9bcb520fd937694d"
            ]
        ]
    },
    {
        "id": "1209a8480a23b591",
        "type": "link out",
        "z": "c7141ffb22d64190",
        "g": "0fc22be05cfc5241",
        "name": "send to broker",
        "mode": "link",
        "links": [
            "dd7609e91ad64f63"
        ],
        "x": 655,
        "y": 660,
        "wires": []
    },
    {
        "id": "14944e047cba03fa",
        "type": "link call",
        "z": "c7141ffb22d64190",
        "g": "0fc22be05cfc5241",
        "name": "",
        "links": [
            "df79272de1bce7c1"
        ],
        "timeout": "30",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "a5f013472e32f50c"
            ]
        ]
    },
    {
        "id": "5e2f8ae74b053fc9",
        "type": "inject",
        "z": "c7141ffb22d64190",
        "g": "0fc22be05cfc5241",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "resource",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "14944e047cba03fa"
            ]
        ]
    },
    {
        "id": "a5f013472e32f50c",
        "type": "subflow:4e89e7c952d56c09",
        "z": "c7141ffb22d64190",
        "g": "0fc22be05cfc5241",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "BASEMENT_HUE_ADDRESS",
                "type": "env"
            },
            {
                "name": "KEY",
                "value": "BASEMENT_HUE_KEY",
                "type": "env"
            },
            {
                "name": "TOPIC",
                "value": "BASEMENT_HUE_TOPIC",
                "type": "env"
            }
        ],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "1209a8480a23b591"
            ]
        ]
    },
    {
        "id": "1cee4f351bd59563",
        "type": "debug",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "powerview scenes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "2f6cc09457939ce2",
        "type": "subflow:9c4e4702e4660adf",
        "z": "1cf0490e7de2f93d",
        "g": "87285e6bf01cff03",
        "name": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            }
        ],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "618e79a58ab8143a"
            ]
        ]
    },
    {
        "id": "7173aa38c9fa93dc",
        "type": "link in",
        "z": "1cf0490e7de2f93d",
        "g": "87285e6bf01cff03",
        "name": "activate powerview scene",
        "links": [],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "2f6cc09457939ce2"
            ]
        ]
    },
    {
        "id": "618e79a58ab8143a",
        "type": "link out",
        "z": "1cf0490e7de2f93d",
        "g": "87285e6bf01cff03",
        "name": "return from set powerview scene",
        "mode": "return",
        "links": [],
        "x": 355,
        "y": 80,
        "wires": []
    },
    {
        "id": "69a6db45ef9f6fdf",
        "type": "inject",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "rooms",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "4a774d5487ebaf6f"
            ]
        ]
    },
    {
        "id": "18b035d175d78813",
        "type": "function",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "mergeMetadata",
        "func": "let findRoomName = (/** @type {string} */ id) => {\n    \n    for (let index = 0; index < msg.rooms.length; ++index) {\n\n        let room = msg.rooms[index]\n        \n        if (room.id == id) {\n            \n            return room.name\n            \n        }\n    }\n    \n    node.warn('no room found with id ' + id)\n    return null\n}\n\nlet metadata = msg.payload.map((/** @type {{ roomId: any; sceneName: string; sceneId: any; }} */ scene) => {\n    \n    let roomName = findRoomName(scene.roomId)\n    \n    node.status({\n        text: roomName + ' | ' + scene.sceneName,\n        shape: 'dot',\n        fill: 'blue'\n    })\n\n    return {\n        sceneId: scene.sceneId,\n        sceneName: scene.sceneName,\n        roomId: scene.roomId,\n        roomName: roomName\n    }\n})\n\nmsg.payload = metadata\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "1cee4f351bd59563"
            ]
        ]
    },
    {
        "id": "9d0fb43b1d0b583f",
        "type": "change",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$map(payload.sceneData, function($scene) {\t    {\t        \"sceneName\": $base64decode($scene.name),\t        \"sceneId\": $scene.id,\t        \"roomId\": $scene.roomId\t    }\t})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "18b035d175d78813"
            ]
        ]
    },
    {
        "id": "837774c682b93af9",
        "type": "subflow:4920eed654c67f8d",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "Get PowerVIew Scenes",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            }
        ],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "9d0fb43b1d0b583f"
            ]
        ]
    },
    {
        "id": "42529821fe2b55cd",
        "type": "change",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rooms",
                "pt": "msg",
                "to": "$map(payload.roomData, function($room) {\t    {\t        \"name\": $base64decode($room.name),\t        \"id\": $room.id\t    }\t})",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "scenes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "837774c682b93af9"
            ]
        ]
    },
    {
        "id": "4a774d5487ebaf6f",
        "type": "subflow:4920eed654c67f8d",
        "z": "1cf0490e7de2f93d",
        "g": "cccd3d3ae4af3207",
        "name": "Get PowerVIew Rooms",
        "env": [
            {
                "name": "ADDRESS",
                "value": "POWERVIEW_ADDRESS",
                "type": "env"
            }
        ],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "42529821fe2b55cd"
            ]
        ]
    },
    {
        "id": "f5c7a7580984d067",
        "type": "delay",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "11b2638982da0e64"
            ]
        ]
    },
    {
        "id": "11b2638982da0e64",
        "type": "mqtt out",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "722d62f3b93039c3",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd7609e91ad64f63",
        "type": "link in",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "send to broker",
        "links": [
            "4d2dc9a6e42d0548",
            "2a3ace48408488ce",
            "ac4ea7223e34a6f8",
            "ae1f46d58671ef2d",
            "3b3c70d754a8a4d5",
            "40f1f326e5252bf8",
            "e309f9054b8afaa3",
            "cc0a0bdacb257089",
            "c33318ea5eb9ec0a",
            "d123374401361fc9",
            "e3599caac9ca8f69",
            "9632421ff2220cf7",
            "e132ff7fd9fda65d",
            "1209a8480a23b591",
            "831fb3f42898b50f"
        ],
        "x": 175,
        "y": 80,
        "wires": [
            [
                "f5c7a7580984d067"
            ]
        ]
    },
    {
        "id": "21679e08b9cf2dbd",
        "type": "ui_template",
        "z": "6e3ca82457d27245",
        "g": "23379c9c8c3b243e",
        "group": "dc6e107af698a0c3",
        "name": "CPU Temperature",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 450,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "87fbecefe8135d77",
        "type": "subflow:c4207c9fe61a900e",
        "z": "6e3ca82457d27245",
        "g": "23379c9c8c3b243e",
        "name": "cpu/+/temperature",
        "env": [
            {
                "name": "TOPIC",
                "value": "cpu/+/temperature",
                "type": "str"
            },
            {
                "name": "UNIT",
                "value": "C",
                "type": "str"
            }
        ],
        "x": 250,
        "y": 400,
        "wires": [
            [
                "21679e08b9cf2dbd"
            ]
        ]
    },
    {
        "id": "3a45f65735fa5469",
        "type": "ui_template",
        "z": "6e3ca82457d27245",
        "g": "7519b16f6cae8e8a",
        "group": "0a1d0e699afa7c7d",
        "name": "CPU Memory",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "353e1ccbabccae7f",
        "type": "subflow:c4207c9fe61a900e",
        "z": "6e3ca82457d27245",
        "g": "7519b16f6cae8e8a",
        "name": "cpu/+/megabytes",
        "env": [
            {
                "name": "TOPIC",
                "value": "cpu/+/megabytes",
                "type": "str"
            },
            {
                "name": "UNIT",
                "value": "MB",
                "type": "str"
            }
        ],
        "x": 240,
        "y": 300,
        "wires": [
            [
                "3a45f65735fa5469"
            ]
        ]
    },
    {
        "id": "aa93bdbb5aa7d08c",
        "type": "ui_template",
        "z": "6e3ca82457d27245",
        "g": "1f92bd84e5fc85f2",
        "group": "cfa1a0f4a477687c",
        "name": "CPU Volts",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "08c3b6627a851e95",
        "type": "subflow:c4207c9fe61a900e",
        "z": "6e3ca82457d27245",
        "g": "1f92bd84e5fc85f2",
        "name": "cpu/+/volts",
        "env": [
            {
                "name": "TOPIC",
                "value": "cpu/+/volts",
                "type": "str"
            },
            {
                "name": "UNIT",
                "value": "V",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 500,
        "wires": [
            [
                "aa93bdbb5aa7d08c"
            ]
        ]
    },
    {
        "id": "8145a71a1f26c616",
        "type": "status",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "limit rate",
        "scope": [
            "f5c7a7580984d067"
        ],
        "x": 220,
        "y": 200,
        "wires": [
            [
                "1c6a7f9ae824db96"
            ]
        ]
    },
    {
        "id": "1c6a7f9ae824db96",
        "type": "change",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(status.text)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "6db5c2fcb5fd08e3"
            ]
        ]
    },
    {
        "id": "6db5c2fcb5fd08e3",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "group": "991046045b37e3ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "MQTT Broker Queue",
        "label": "Queue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "461d49b47e87e402",
        "type": "status",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "mqtt out",
        "scope": [
            "11b2638982da0e64"
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "5ea9e057dd830d9e"
            ]
        ]
    },
    {
        "id": "5ea9e057dd830d9e",
        "type": "change",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$reverse($split(status.text,'.'))[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "5adbc418ab39d29a"
            ]
        ]
    },
    {
        "id": "5adbc418ab39d29a",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "e49c9571ddd5102f",
        "group": "991046045b37e3ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "MQTT Broker Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "aa83f2d2b99d012e",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "8dff7c51091f12ea",
        "group": "03b0e40844d33477",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Chez Nous Main readyState",
        "label": "readyState",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 80,
        "wires": []
    },
    {
        "id": "79f5591e72a3bc50",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "b78fb0b9d14b12c6",
        "group": "a0da6d89d75fc6ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Basement Hue readyState",
        "label": "readyState",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "e71557af20de9949",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "a1c9d751d12ee2c4",
        "group": "03b0e40844d33477",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Chez Nous Main onopen Count",
        "label": "onopen",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 180,
        "wires": []
    },
    {
        "id": "b30654675fe6a404",
        "type": "ui_text",
        "z": "6e3ca82457d27245",
        "g": "d0a0ed4db80319af",
        "group": "a0da6d89d75fc6ac",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Basement Hue onopen Count",
        "label": "onopen",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "3bbfe6126101e47a",
        "type": "subflow:9601cbf2386d897b",
        "z": "6e3ca82457d27245",
        "g": "a1c9d751d12ee2c4",
        "name": "Count Chez Nouse Main onopen",
        "env": [
            {
                "name": "TOPIC",
                "value": "hue/chez-nous-main/open",
                "type": "str"
            }
        ],
        "x": 910,
        "y": 180,
        "wires": [
            [],
            [
                "e71557af20de9949"
            ]
        ]
    },
    {
        "id": "ff0320e7dcb99080",
        "type": "subflow:9601cbf2386d897b",
        "z": "6e3ca82457d27245",
        "g": "d0a0ed4db80319af",
        "name": "Count Basement Hue onopen",
        "env": [
            {
                "name": "TOPIC",
                "value": "hue/basement-hue/open",
                "type": "str"
            }
        ],
        "x": 900,
        "y": 380,
        "wires": [
            [],
            [
                "b30654675fe6a404"
            ]
        ]
    },
    {
        "id": "bf73d9fb33637e10",
        "type": "mqtt in",
        "z": "6e3ca82457d27245",
        "g": "8dff7c51091f12ea",
        "name": "",
        "topic": "hue/chez-nous-main/status",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 890,
        "y": 80,
        "wires": [
            [
                "aa83f2d2b99d012e"
            ]
        ]
    },
    {
        "id": "f4bc6cd84cd984e4",
        "type": "mqtt in",
        "z": "6e3ca82457d27245",
        "g": "b78fb0b9d14b12c6",
        "name": "",
        "topic": "hue/basement-hue/status",
        "qos": "2",
        "datatype": "json",
        "broker": "722d62f3b93039c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "79f5591e72a3bc50"
            ]
        ]
    },
    {
        "id": "07ccb0b07e6fada8",
        "type": "link in",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "main floor off",
        "links": [
            "981dbc2364b09d66"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "4baea86ab327a4b9"
            ]
        ]
    },
    {
        "id": "3ed1a4d37d1548b4",
        "type": "link in",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "main floor nightlight",
        "links": [
            "549a2335fb839c37"
        ],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "7b10a17dd5bc4c0f"
            ]
        ]
    },
    {
        "id": "53509cbc2f897eb4",
        "type": "link call",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 990,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7b10a17dd5bc4c0f",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "08d74ad519cdaa27"
            ]
        ]
    },
    {
        "id": "6cae9b1ccc68cb9e",
        "type": "link in",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "main floor sunset",
        "links": [
            "2837183323a61e04"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "edc2f01358673517"
            ]
        ]
    },
    {
        "id": "8ae7ee0c87df1191",
        "type": "link call",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "edc2f01358673517",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "c99382ee9ae33d16"
            ]
        ]
    },
    {
        "id": "ec1b9da9a2a0dde0",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/grouped_light/9c1c7975-2f47-4552-bac8-c19b643cd678",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":{\"on\":false}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 80,
        "wires": [
            [
                "33533dc0ac4ff870"
            ]
        ]
    },
    {
        "id": "33533dc0ac4ff870",
        "type": "link call",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 950,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4baea86ab327a4b9",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 80,
        "wires": [
            [
                "76e95a00d6e3b9ad"
            ]
        ]
    },
    {
        "id": "2efdae9d98c90cf9",
        "type": "switch",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "ec1b9da9a2a0dde0"
            ]
        ]
    },
    {
        "id": "1462dac4d5543f0a",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/48c39b9f-1599-4a5c-b7f6-bad6cad4029a",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"active\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "53509cbc2f897eb4"
            ]
        ]
    },
    {
        "id": "c4ad8310f9a121b0",
        "type": "switch",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "1462dac4d5543f0a"
            ]
        ]
    },
    {
        "id": "76f3eb6c53a0310c",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/6eff0801-01e2-4803-9840-e31c06cee079",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "8ae7ee0c87df1191"
            ]
        ]
    },
    {
        "id": "66b239fbae02c252",
        "type": "switch",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "76f3eb6c53a0310c"
            ]
        ]
    },
    {
        "id": "76e95a00d6e3b9ad",
        "type": "subflow:454f48125d29e6ef",
        "z": "e44149a93fbe9b1b",
        "g": "1ce03cecd5db8bc6",
        "name": "main-floor-off",
        "env": [
            {
                "name": "NAME",
                "value": "main-floor-off",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "2efdae9d98c90cf9"
            ]
        ]
    },
    {
        "id": "08d74ad519cdaa27",
        "type": "subflow:454f48125d29e6ef",
        "z": "e44149a93fbe9b1b",
        "g": "3483ce20c1996e6c",
        "name": "main-floor-nightlight",
        "env": [
            {
                "name": "NAME",
                "value": "main-floor-nightlight",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "c4ad8310f9a121b0"
            ]
        ]
    },
    {
        "id": "c99382ee9ae33d16",
        "type": "subflow:454f48125d29e6ef",
        "z": "e44149a93fbe9b1b",
        "g": "e1fa765ec5a5ebd7",
        "name": "main-floor-sunset",
        "env": [
            {
                "name": "NAME",
                "value": "main-floor-sunset",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "66b239fbae02c252"
            ]
        ]
    },
    {
        "id": "08ca72b8e815a992",
        "type": "link in",
        "z": "e44149a93fbe9b1b",
        "g": "00ad2b71a9c29a21",
        "name": "main bathroom off",
        "links": [
            "e696e0a2acb678c2",
            "f597e3f10639062f",
            "ce589288779cef4a",
            "981dbc2364b09d66"
        ],
        "x": 155,
        "y": 540,
        "wires": [
            [
                "2736157993771007"
            ]
        ]
    },
    {
        "id": "2736157993771007",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "00ad2b71a9c29a21",
        "name": "turn off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":{\"on\":false}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/grouped_light/aea74e74-d544-4d08-ad71-3b6665045256",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "0cb4aa086519cdc3"
            ]
        ]
    },
    {
        "id": "0cb4aa086519cdc3",
        "type": "link call",
        "z": "e44149a93fbe9b1b",
        "g": "00ad2b71a9c29a21",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3deabbac44606076",
        "type": "link call",
        "z": "e44149a93fbe9b1b",
        "g": "513bc529c9c10fa0",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 450,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ec0f7c926936a835",
        "type": "link in",
        "z": "e44149a93fbe9b1b",
        "g": "513bc529c9c10fa0",
        "name": "main bathroom nightlight",
        "links": [
            "1fa973a7d8e65e3c",
            "549a2335fb839c37"
        ],
        "x": 155,
        "y": 440,
        "wires": [
            [
                "1af873ecc08861c7"
            ]
        ]
    },
    {
        "id": "1af873ecc08861c7",
        "type": "change",
        "z": "e44149a93fbe9b1b",
        "g": "513bc529c9c10fa0",
        "name": "night light",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"active\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/5d507fb6-89f6-459a-b327-0fffd0c6dc48",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "3deabbac44606076"
            ]
        ]
    },
    {
        "id": "af712bf4ec4004b4",
        "type": "link call",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 970,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "074874e0ff13a7b1",
        "type": "link call",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "18f53b7627e645e4",
        "type": "link in",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "yard sunset",
        "links": [
            "e270017761dfd27d"
        ],
        "x": 175,
        "y": 160,
        "wires": [
            [
                "b22f3931c3a7aaa9"
            ]
        ]
    },
    {
        "id": "b22f3931c3a7aaa9",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "74a870cad9944a03"
            ]
        ]
    },
    {
        "id": "60976d31a8dafe99",
        "type": "link in",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "yard jolly",
        "links": [
            "b0ee0f2f8155fe9b"
        ],
        "x": 175,
        "y": 460,
        "wires": [
            [
                "a5ea4f7eb61a9136"
            ]
        ]
    },
    {
        "id": "a5ea4f7eb61a9136",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "40657a16668306c1"
            ]
        ]
    },
    {
        "id": "ec4c4a28a59d105e",
        "type": "link in",
        "z": "adfd8ae4a2eaf844",
        "g": "2238e89a8f0c976d",
        "name": "yard off",
        "links": [
            "549a2335fb839c37",
            "981dbc2364b09d66"
        ],
        "x": 175,
        "y": 60,
        "wires": [
            [
                "fb388fbfb4e38ca3"
            ]
        ]
    },
    {
        "id": "fb388fbfb4e38ca3",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "2238e89a8f0c976d",
        "name": "turn off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"on\":{\"on\":false}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/grouped_light/bad8480b-b404-42d1-a9e7-a4a69f400971",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "dc1d9849661717f1"
            ]
        ]
    },
    {
        "id": "dc1d9849661717f1",
        "type": "link call",
        "z": "adfd8ae4a2eaf844",
        "g": "2238e89a8f0c976d",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 450,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "34a695c0d0260e5a",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/9b6935e2-f8ed-4f91-83a2-2bff1850da99",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 160,
        "wires": [
            [
                "af712bf4ec4004b4"
            ]
        ]
    },
    {
        "id": "d07f9471a4a06ae8",
        "type": "switch",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "34a695c0d0260e5a"
            ]
        ]
    },
    {
        "id": "256ba437f41dfbcf",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/12571f23-7714-4b47-8e75-a3040389b788",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "074874e0ff13a7b1"
            ]
        ]
    },
    {
        "id": "6cf088c77229de1d",
        "type": "switch",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "256ba437f41dfbcf"
            ]
        ]
    },
    {
        "id": "29a6f065ab64d562",
        "type": "link call",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 970,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "53afc06e5cea0b0d",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "ecf996995825cb3e"
            ]
        ]
    },
    {
        "id": "a225232dc86a3b6f",
        "type": "link in",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "yard spooky",
        "links": [
            "b0ee0f2f8155fe9b",
            "c68369c3781694e3"
        ],
        "x": 175,
        "y": 360,
        "wires": [
            [
                "53afc06e5cea0b0d"
            ]
        ]
    },
    {
        "id": "ce692ff752c427a6",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/70a0a8a6-b4b7-4b24-a9cf-0ecea0f359cc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "29a6f065ab64d562"
            ]
        ]
    },
    {
        "id": "9fd4f397e5d23392",
        "type": "switch",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "ce692ff752c427a6"
            ]
        ]
    },
    {
        "id": "816be5cd3b82bf0b",
        "type": "link call",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "",
        "links": [
            "7df3e5fbd6e9aa8a"
        ],
        "timeout": "30",
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ed68842beab6579e",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "2e85bfabe8b4104b"
            ]
        ]
    },
    {
        "id": "a6475288998b4e07",
        "type": "link in",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "yard tribal",
        "links": [
            "b0ee0f2f8155fe9b",
            "7ab1620c3349854b"
        ],
        "x": 175,
        "y": 260,
        "wires": [
            [
                "ed68842beab6579e"
            ]
        ]
    },
    {
        "id": "35ec7b633401cd2e",
        "type": "change",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene/c4681d32-3368-43cd-9cf1-436132521068",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "816be5cd3b82bf0b"
            ]
        ]
    },
    {
        "id": "c5dfb48af9335c64",
        "type": "switch",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "35ec7b633401cd2e"
            ]
        ]
    },
    {
        "id": "2e85bfabe8b4104b",
        "type": "subflow:454f48125d29e6ef",
        "z": "adfd8ae4a2eaf844",
        "g": "0117b53379eade19",
        "name": "yard-tribal",
        "env": [
            {
                "name": "NAME",
                "value": "yard-tribal",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "c5dfb48af9335c64"
            ]
        ]
    },
    {
        "id": "ecf996995825cb3e",
        "type": "subflow:454f48125d29e6ef",
        "z": "adfd8ae4a2eaf844",
        "g": "dd577488786042ba",
        "name": "yard-spooky",
        "env": [
            {
                "name": "NAME",
                "value": "yard-spooky",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "9fd4f397e5d23392"
            ]
        ]
    },
    {
        "id": "40657a16668306c1",
        "type": "subflow:454f48125d29e6ef",
        "z": "adfd8ae4a2eaf844",
        "g": "afbdc8b60c682c85",
        "name": "yard-jolly",
        "env": [
            {
                "name": "NAME",
                "value": "yard-jolly",
                "type": "str"
            }
        ],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "6cf088c77229de1d"
            ]
        ]
    },
    {
        "id": "74a870cad9944a03",
        "type": "subflow:454f48125d29e6ef",
        "z": "adfd8ae4a2eaf844",
        "g": "ea7b9754db9fd0cd",
        "name": "yard-sunset",
        "env": [
            {
                "name": "NAME",
                "value": "yard-sunset",
                "type": "str"
            }
        ],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "d07f9471a4a06ae8"
            ]
        ]
    }
]