flow.json
[
    {
        "id": "a00ccef1301f21e3",
        "type": "tab",
        "label": "Hue API",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "ADDRESS",
                "value": "192.168.1.12",
                "type": "str"
            },
            {
                "name": "KEY",
                "value": "EhKZJjy5vLvz-3bz06K9a8MLfCaSSzR5WxSK8a-y",
                "type": "str"
            }
        ]
    },
    {
        "id": "75541c4a48b055d1",
        "type": "tab",
        "label": "Hue SSE",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "KEY",
                "value": "EhKZJjy5vLvz-3bz06K9a8MLfCaSSzR5WxSK8a-y",
                "type": "str"
            },
            {
                "name": "ADDRESS",
                "value": "192.168.1.12",
                "type": "str"
            }
        ]
    },
    {
        "id": "68a0c85ae721ed85",
        "type": "tab",
        "label": "Dynamic Scenes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20edd4d93fc0c7b9",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Register application key: use within 30 seconds of pressing link button",
        "style": {
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000",
            "stroke": "#000000",
            "fill": "#000000"
        },
        "nodes": [
            "580a03ddbe1a86e1",
            "b64ad586113a42e9",
            "3c19d7b909aa4bc5",
            "3bc799dc4b650014"
        ],
        "x": 14,
        "y": 19,
        "w": 612,
        "h": 82
    },
    {
        "id": "1ccf0bc875015428",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Send command to Hue Bridge API V2",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "20ac42d7649c260a",
            "fa870f94fa1ea10b",
            "a9378d8ba74f3f4f",
            "518d311e4301013a",
            "c9c806d81ab63ac4",
            "cd3d6cfea67f490b"
        ],
        "x": 14,
        "y": 119,
        "w": 672,
        "h": 122
    },
    {
        "id": "c0f3c1d199bc708d",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Get Hue resources",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4006e2473f56a4c9",
            "df60cb7485d5c8a0",
            "4977f4086e670c54",
            "39935d86feba8ce5",
            "5dc72c0835676f87"
        ],
        "x": 14,
        "y": 259,
        "w": 662,
        "h": 82
    },
    {
        "id": "704de1d2e359f638",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Fetch Hue group and scene metadata",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "57c0a546e705eb8c",
            "80d261408b874f66",
            "7a55063ddf374382",
            "5a5b40d00ccb63a6"
        ],
        "x": 14,
        "y": 353,
        "w": 878,
        "h": 334
    },
    {
        "id": "cad4802047f76343",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Format essential scene metadata as CSV file",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "664d03bda3c6cd8d",
            "6fd93b1e22105d03",
            "d42c44a6687bf3d5",
            "7f851489fa9e120b",
            "668a56f0c07f4cff",
            "025aa8be977c56bf",
            "d56b9ae3f0b87fb9",
            "a30b207efed9b272"
        ],
        "x": 14,
        "y": 699,
        "w": 752,
        "h": 142
    },
    {
        "id": "c261059e2aaf6258",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "name": "Start dynamic scene",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8e2a8f5d759f7920",
            "17af4b7db724335a",
            "1192b096e08ed0bc",
            "0b44cc9e32170bd8"
        ],
        "x": 14,
        "y": 859,
        "w": 522,
        "h": 82
    },
    {
        "id": "405b624730f13e84",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard sunset dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9f11b0a34b12aeed",
            "ca44e64bd5eb08d5",
            "bc51a385ea3a9f4d",
            "a4ca8af66413f4ae",
            "c40f655a759479bb"
        ],
        "x": 14,
        "y": 19
    },
    {
        "id": "292bab40ea02a6f9",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard jolly dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8dc082f268067c7d",
            "46e031908080bccb",
            "346f7e5b9e7ad29b",
            "81572873f288dde3",
            "a49ca0a24aba7daf"
        ],
        "x": 14,
        "y": 159
    },
    {
        "id": "61845a06011905ec",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start living room sunset dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2587012de99aa5f4",
            "6479e651ae0abe9e",
            "5eb1e0b9de5bb7b0",
            "8c7a47c913e58bf7",
            "06175110eb064ba5"
        ],
        "x": 14,
        "y": 439
    },
    {
        "id": "5e5a0d54cd36857c",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start master bedroom sunset dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "caf4e9d054e242fe",
            "1b8a78842c69d486",
            "da822555b6862b5d",
            "d1e3538a1798b0b5",
            "af631eb3aa02b9d4"
        ],
        "x": 14,
        "y": 579
    },
    {
        "id": "cf878f58f6360a07",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start guest bedroom sunset dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "161076791f776aef",
            "799732214b487233",
            "ddb30b7e12994f9f",
            "9fb68bd4e9d72ba1",
            "079b41faaf05de0c"
        ],
        "x": 14,
        "y": 719
    },
    {
        "id": "8a5418169860cd08",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start main bathroom sunset dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a00af0a49fee52f5",
            "f142314d7fcddd22",
            "546cdf4bfcb241d0",
            "3b83da74294d4176",
            "c5452dc45a2b8c76"
        ],
        "x": 14,
        "y": 859
    },
    {
        "id": "e002d431b0480f62",
        "type": "group",
        "z": "68a0c85ae721ed85",
        "name": "Start front yard spooky dynamic scene via HomeKit",
        "style": {
            "stroke": "#000000",
            "fill": "#000000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a4771e8e2359c1c2",
            "20a884f75e5ca9dc",
            "b1242486cc80338a",
            "64038a922dc5e414",
            "3517404bed36125c"
        ],
        "x": 14,
        "y": 299
    },
    {
        "id": "521bef1f1253e5fb",
        "type": "group",
        "z": "75541c4a48b055d1",
        "name": "EXPERIMENTAL: Hue SSE to MQTT",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ff0000",
            "fill-opacity": "0.1",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "3dba4e17a486d650",
            "afc70abb381dead3",
            "e850380bc3049b22",
            "318f7c6cd9265451",
            "af297c0612911b23",
            "af3e61f5781ea3a8"
        ],
        "x": 8,
        "y": 13,
        "w": 884,
        "h": 668
    },
    {
        "id": "80d261408b874f66",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "Set global.zones",
        "style": {
            "label": true,
            "label-position": "ne",
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "683f6cebfb0435bc",
            "31c9ea53a0d37ea7",
            "e495f44190643f71"
        ],
        "x": 234,
        "y": 379,
        "w": 612,
        "h": 82
    },
    {
        "id": "7a55063ddf374382",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "Set global.rooms",
        "style": {
            "label": true,
            "label-position": "ne",
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "0a2180fde03cef3e",
            "a5b364ab8daf0bef",
            "3f29cffcea9929fe"
        ],
        "x": 234,
        "y": 479,
        "w": 632,
        "h": 82
    },
    {
        "id": "5a5b40d00ccb63a6",
        "type": "group",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "Set global.scenes",
        "style": {
            "label": true,
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "3126ce3cfc3287eb",
            "6859e44cb623bf19",
            "1e2f2b3580fc2b87"
        ],
        "x": 234,
        "y": 579,
        "w": 632,
        "h": 82
    },
    {
        "id": "3dba4e17a486d650",
        "type": "group",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "Process event",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#ff0000"
        },
        "nodes": [
            "c9275e1711fc2894",
            "bc9a7556df55997a",
            "77451f39550f8086",
            "5b921f87451fa342",
            "b2ddd2607ccd3369",
            "ba42509f5030bcf1",
            "955bf394bc21ad08",
            "8bc8e5fca749144c",
            "caa6900524c79eb8",
            "091037fab22e3029"
        ],
        "x": 34,
        "y": 319,
        "w": 832,
        "h": 282
    },
    {
        "id": "e850380bc3049b22",
        "type": "group",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "Listen for events",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "color": "#ff0000"
        },
        "nodes": [
            "ca35362134773029",
            "5f5ac0e285c08071",
            "1d730d01a90f9188",
            "cd62d6525265b64c",
            "cdeb6aed3296e4c8",
            "b809b46556b152f0",
            "6bc58e628be38a0a",
            "cd7785a0dd06e404",
            "88d6913ec8bb3eeb",
            "3be7bf5980d39002",
            "fa39deb80eee7eeb",
            "32e371285fec3679"
        ],
        "x": 34,
        "y": 39,
        "w": 832,
        "h": 262
    },
    {
        "id": "b98a758a1473104d",
        "type": "homekit-bridge",
        "bridgeName": "Node-RED",
        "pinCode": "292-51-538",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "001",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "e79e0110c2317edb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "67f94c1d45ed5686",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "tls": "e79e0110c2317edb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "580a03ddbe1a86e1",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "'https://' & $env('ADDRESS') & '/api'",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"devicetype\":\"nodered#cheznous\",\"generateclientkey\":true}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b64ad586113a42e9"
            ]
        ]
    },
    {
        "id": "b64ad586113a42e9",
        "type": "http request",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "3bc799dc4b650014"
            ]
        ]
    },
    {
        "id": "3c19d7b909aa4bc5",
        "type": "debug",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "3bc799dc4b650014",
        "type": "json",
        "z": "a00ccef1301f21e3",
        "g": "20edd4d93fc0c7b9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 60,
        "wires": [
            [
                "3c19d7b909aa4bc5"
            ]
        ]
    },
    {
        "id": "20ac42d7649c260a",
        "type": "http request",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "e79e0110c2317edb",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "cd3d6cfea67f490b"
            ]
        ]
    },
    {
        "id": "fa870f94fa1ea10b",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"hue-application-key\": $env('KEY')}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/clip/v2/' & topic",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "20ac42d7649c260a"
            ]
        ]
    },
    {
        "id": "a9378d8ba74f3f4f",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "send to hue",
        "links": [
            "b38ce20acaea849c"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "c9c806d81ab63ac4"
            ]
        ],
        "outputLabels": [
            "topic = uri, payload = body, method = HTTP request type"
        ]
    },
    {
        "id": "518d311e4301013a",
        "type": "catch",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "scope": [
            "20ac42d7649c260a"
        ],
        "uncaught": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "cd3d6cfea67f490b"
            ]
        ]
    },
    {
        "id": "c9c806d81ab63ac4",
        "type": "delay",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "fa870f94fa1ea10b"
            ]
        ]
    },
    {
        "id": "cd3d6cfea67f490b",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "1ccf0bc875015428",
        "name": "hue response",
        "mode": "return",
        "links": [],
        "x": 645,
        "y": 180,
        "wires": []
    },
    {
        "id": "4006e2473f56a4c9",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "links": [
            "a9378d8ba74f3f4f"
        ],
        "timeout": "30",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "df60cb7485d5c8a0"
            ]
        ]
    },
    {
        "id": "df60cb7485d5c8a0",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "39935d86feba8ce5"
            ]
        ]
    },
    {
        "id": "4977f4086e670c54",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "get hue resources",
        "links": [],
        "x": 55,
        "y": 300,
        "wires": [
            [
                "5dc72c0835676f87"
            ]
        ]
    },
    {
        "id": "39935d86feba8ce5",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "hue resources",
        "mode": "return",
        "links": [],
        "x": 635,
        "y": 300,
        "wires": []
    },
    {
        "id": "5dc72c0835676f87",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c0f3c1d199bc708d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "4006e2473f56a4c9"
            ]
        ]
    },
    {
        "id": "683f6cebfb0435bc",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "80d261408b874f66",
        "name": "get zones",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/zone",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "31c9ea53a0d37ea7"
            ]
        ]
    },
    {
        "id": "31c9ea53a0d37ea7",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "80d261408b874f66",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "e495f44190643f71"
            ]
        ]
    },
    {
        "id": "3126ce3cfc3287eb",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "5a5b40d00ccb63a6",
        "name": "get scenes",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/scene",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "6859e44cb623bf19"
            ]
        ]
    },
    {
        "id": "6859e44cb623bf19",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "5a5b40d00ccb63a6",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "1e2f2b3580fc2b87"
            ]
        ]
    },
    {
        "id": "0a2180fde03cef3e",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "7a55063ddf374382",
        "name": "get rooms",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "resource/room",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 520,
        "wires": [
            [
                "a5b364ab8daf0bef"
            ]
        ]
    },
    {
        "id": "a5b364ab8daf0bef",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "7a55063ddf374382",
        "name": "",
        "links": [
            "4977f4086e670c54"
        ],
        "timeout": "30",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "3f29cffcea9929fe"
            ]
        ]
    },
    {
        "id": "e495f44190643f71",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "80d261408b874f66",
        "name": "processZoneMetadata",
        "func": "let zones = {}\n\nmsg.payload.forEach(zone => {\n    zones[zone.id] = zone\n})\n\nglobal.set(\"zones\", zones)\nreturn {payload: zones}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "0a2180fde03cef3e"
            ]
        ]
    },
    {
        "id": "3f29cffcea9929fe",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "7a55063ddf374382",
        "name": "processRoomMetadata",
        "func": "let rooms = {}\n\nmsg.payload.forEach(room => {\n    rooms[room.id] = room\n})\n\nglobal.set(\"rooms\", rooms)\nreturn {payload: rooms}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 520,
        "wires": [
            [
                "3126ce3cfc3287eb"
            ]
        ]
    },
    {
        "id": "1e2f2b3580fc2b87",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "5a5b40d00ccb63a6",
        "name": "processSceneMetadata",
        "func": "let scenes = {}\nlet rooms = global.get(\"rooms\") || {}\nlet zones = global.get(\"zones\") || {}\n\nlet findGroup = (id, groups) => {\n\n    for (let rid in groups) {\n\n        let group = groups[rid]\n\n        if (group.id == id) {\n            return group\n        }\n    }\n    \n    return undefined\n}\n\nmsg.payload.forEach(scene => {\n\n    scenes[scene.id] = scene\n    \n    let group = findGroup(scene.group.rid, zones)\n    \n    if (group === undefined) {\n        group = findGroup(scene.group.rid, rooms)\n    }\n    \n    if (group !== undefined) {\n        scene.group.name = group.metadata.name\n    }\n    \n    let services = group.grouped_services\n    \n    for (let index = 0; index < services.length; ++index) {\n        \n        let service = services[index]\n        \n        if (service.rtype == \"grouped_light\") {\n            scene.group.grouped_light = service.rid\n        }\n    }\n})\n\nglobal.set(\"scenes\", scenes)\nreturn {payload: scenes}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "664d03bda3c6cd8d",
        "type": "inject",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "scenes",
        "payloadType": "global",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "7f851489fa9e120b"
            ]
        ]
    },
    {
        "id": "6fd93b1e22105d03",
        "type": "debug",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 800,
        "wires": []
    },
    {
        "id": "d42c44a6687bf3d5",
        "type": "csv",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "group_id,group_name,scene_id,scene_name,group_lights",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "a30b207efed9b272"
            ]
        ]
    },
    {
        "id": "7f851489fa9e120b",
        "type": "split",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "668a56f0c07f4cff"
            ]
        ]
    },
    {
        "id": "668a56f0c07f4cff",
        "type": "template",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"scene_name\": \"{{payload.metadata.name}}\",\n    \"scene_id\": \"{{payload.id}}\",\n    \"group_name\": \"{{payload.group.name}}\",\n    \"group_id\": \"{{payload.group.rid}}\",\n    \"group_lights\": \"{{payload.group.grouped_light}}\"\n}",
        "output": "json",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "025aa8be977c56bf"
            ]
        ]
    },
    {
        "id": "025aa8be977c56bf",
        "type": "join",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "d56b9ae3f0b87fb9"
            ]
        ]
    },
    {
        "id": "d56b9ae3f0b87fb9",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "entriesToArray",
        "func": "let response = []\n\nfor (let id in msg.payload) {\n    response.push(msg.payload[id])\n}\nreturn {payload: response};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 800,
        "wires": [
            [
                "d42c44a6687bf3d5"
            ]
        ]
    },
    {
        "id": "a30b207efed9b272",
        "type": "file",
        "z": "a00ccef1301f21e3",
        "g": "cad4802047f76343",
        "name": "",
        "filename": "/data/scenes.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "6fd93b1e22105d03"
            ]
        ]
    },
    {
        "id": "8e2a8f5d759f7920",
        "type": "change",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "start dynamic scene",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"resource/scene/\" & payload",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"recall\":{\"action\":\"dynamic_palette\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "PUT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 900,
        "wires": [
            [
                "17af4b7db724335a",
                "17af4b7db724335a"
            ]
        ]
    },
    {
        "id": "17af4b7db724335a",
        "type": "link call",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "",
        "links": [
            "a9378d8ba74f3f4f"
        ],
        "timeout": "30",
        "x": 390,
        "y": 900,
        "wires": [
            [
                "0b44cc9e32170bd8",
                "0b44cc9e32170bd8"
            ]
        ]
    },
    {
        "id": "1192b096e08ed0bc",
        "type": "link in",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "start dynamic scene",
        "links": [],
        "x": 55,
        "y": 900,
        "wires": [
            [
                "8e2a8f5d759f7920",
                "8e2a8f5d759f7920"
            ]
        ]
    },
    {
        "id": "0b44cc9e32170bd8",
        "type": "link out",
        "z": "a00ccef1301f21e3",
        "g": "c261059e2aaf6258",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 495,
        "y": 900,
        "wires": []
    },
    {
        "id": "57c0a546e705eb8c",
        "type": "function",
        "z": "a00ccef1301f21e3",
        "g": "704de1d2e359f638",
        "name": "fetchHueMetadata",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// function like an inject node that fires\n// on start up but compatibly with being\n// placed in a subflow\n\nsetTimeout(() => {\n    node.send({})\n}, 500)",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 420,
        "wires": [
            [
                "683f6cebfb0435bc"
            ]
        ]
    },
    {
        "id": "c9275e1711fc2894",
        "type": "switch",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "event",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "button",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "dynamics",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "dimming",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "color_temperature",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "77451f39550f8086"
            ],
            [
                "ba42509f5030bcf1"
            ],
            [
                "8bc8e5fca749144c"
            ],
            [
                "caa6900524c79eb8"
            ],
            [
                "bc9a7556df55997a"
            ],
            [
                "955bf394bc21ad08"
            ],
            [
                "af3e61f5781ea3a8"
            ]
        ]
    },
    {
        "id": "bc9a7556df55997a",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "dimming",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/dimming'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.dimming",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "77451f39550f8086",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/on'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.on",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "5b921f87451fa342",
        "type": "rbe",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "091037fab22e3029"
            ]
        ]
    },
    {
        "id": "b2ddd2607ccd3369",
        "type": "mqtt out",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f94c1d45ed5686",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba42509f5030bcf1",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "color",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/color'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.color",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "955bf394bc21ad08",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "color_temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/color_temperature'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.color_temperature",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "8bc8e5fca749144c",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "button",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/button'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.button",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "caa6900524c79eb8",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "dynamics",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic & '/dynamics'",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "payload.dynamics",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "5b921f87451fa342"
            ]
        ]
    },
    {
        "id": "091037fab22e3029",
        "type": "delay",
        "z": "75541c4a48b055d1",
        "g": "3dba4e17a486d650",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "b2ddd2607ccd3369"
            ]
        ]
    },
    {
        "id": "afc70abb381dead3",
        "type": "debug",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "ca35362134773029",
        "type": "sse-client",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "url": "",
        "events": [],
        "headers": {},
        "proxy": "",
        "restart": true,
        "rejectUnauthorized": false,
        "withCredentials": true,
        "timeout": "60",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "5f5ac0e285c08071",
                "5f5ac0e285c08071"
            ]
        ]
    },
    {
        "id": "5f5ac0e285c08071",
        "type": "json",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "1d730d01a90f9188",
                "1d730d01a90f9188"
            ]
        ]
    },
    {
        "id": "1d730d01a90f9188",
        "type": "split",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "cd62d6525265b64c",
                "cd62d6525265b64c"
            ]
        ]
    },
    {
        "id": "cd62d6525265b64c",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "b809b46556b152f0"
            ]
        ]
    },
    {
        "id": "cdeb6aed3296e4c8",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "'hue/' & payload.type & '/' & payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "c9275e1711fc2894"
            ]
        ]
    },
    {
        "id": "b809b46556b152f0",
        "type": "split",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "6bc58e628be38a0a"
            ]
        ]
    },
    {
        "id": "6bc58e628be38a0a",
        "type": "switch",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "is array",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "array",
                "vt": "array"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "cd7785a0dd06e404"
            ],
            [
                "cdeb6aed3296e4c8"
            ]
        ]
    },
    {
        "id": "cd7785a0dd06e404",
        "type": "split",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "cdeb6aed3296e4c8"
            ]
        ]
    },
    {
        "id": "88d6913ec8bb3eeb",
        "type": "function",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "startListeningForSSE",
        "func": "\nreturn {\n    payload: \"\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// function like an inject node that fires\n// on start up but compatibly with being\n// placed in a subflow\n\nsetTimeout(() => {\n    node.send({\n        payload: \"\"\n    })\n}, 500)",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "3be7bf5980d39002"
            ]
        ]
    },
    {
        "id": "3be7bf5980d39002",
        "type": "change",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"hue-application-key\": $env('KEY')}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "'https://' & $env('ADDRESS') & '/eventstream/clip/v2'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "ca35362134773029"
            ]
        ]
    },
    {
        "id": "318f7c6cd9265451",
        "type": "file",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "",
        "filename": "/data/hue-events.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "afc70abb381dead3"
            ]
        ]
    },
    {
        "id": "af297c0612911b23",
        "type": "json",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "318f7c6cd9265451"
            ]
        ]
    },
    {
        "id": "af3e61f5781ea3a8",
        "type": "rbe",
        "z": "75541c4a48b055d1",
        "g": "521bef1f1253e5fb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "af297c0612911b23"
            ]
        ]
    },
    {
        "id": "fa39deb80eee7eeb",
        "type": "catch",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "scope": [
            "ca35362134773029"
        ],
        "uncaught": false,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "32e371285fec3679"
            ]
        ]
    },
    {
        "id": "32e371285fec3679",
        "type": "delay",
        "z": "75541c4a48b055d1",
        "g": "e850380bc3049b22",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "88d6913ec8bb3eeb"
            ]
        ]
    },
    {
        "id": "9f11b0a34b12aeed",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "003",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "bc51a385ea3a9f4d"
            ],
            []
        ]
    },
    {
        "id": "ca44e64bd5eb08d5",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "9f11b0a34b12aeed"
            ]
        ]
    },
    {
        "id": "bc51a385ea3a9f4d",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ca44e64bd5eb08d5",
                "a4ca8af66413f4ae"
            ]
        ]
    },
    {
        "id": "a4ca8af66413f4ae",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "front yard sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "9b6935e2-f8ed-4f91-83a2-2bff1850da99",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "c40f655a759479bb"
            ]
        ]
    },
    {
        "id": "c40f655a759479bb",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "405b624730f13e84",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 680,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8dc082f268067c7d",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Jolly",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "004",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "346f7e5b9e7ad29b"
            ],
            []
        ]
    },
    {
        "id": "46e031908080bccb",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "8dc082f268067c7d"
            ]
        ]
    },
    {
        "id": "346f7e5b9e7ad29b",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "46e031908080bccb",
                "81572873f288dde3"
            ]
        ]
    },
    {
        "id": "81572873f288dde3",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "front yard jolly",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "12571f23-7714-4b47-8e75-a3040389b788",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "a49ca0a24aba7daf"
            ]
        ]
    },
    {
        "id": "a49ca0a24aba7daf",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "292bab40ea02a6f9",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2587012de99aa5f4",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Living Room Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "006",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "5eb1e0b9de5bb7b0"
            ],
            []
        ]
    },
    {
        "id": "6479e651ae0abe9e",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "2587012de99aa5f4"
            ]
        ]
    },
    {
        "id": "5eb1e0b9de5bb7b0",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "6479e651ae0abe9e",
                "8c7a47c913e58bf7"
            ]
        ]
    },
    {
        "id": "8c7a47c913e58bf7",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "living room sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b838037e-54a0-4a60-aa0f-a5991f18f759",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "06175110eb064ba5"
            ]
        ]
    },
    {
        "id": "06175110eb064ba5",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "61845a06011905ec",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 700,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "caf4e9d054e242fe",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Master Bedroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "007",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "da822555b6862b5d"
            ],
            []
        ]
    },
    {
        "id": "1b8a78842c69d486",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "caf4e9d054e242fe"
            ]
        ]
    },
    {
        "id": "da822555b6862b5d",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "1b8a78842c69d486",
                "d1e3538a1798b0b5"
            ]
        ]
    },
    {
        "id": "d1e3538a1798b0b5",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "master bedroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0d5459f5-c2c7-40da-b811-e0b0e629f8a2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "af631eb3aa02b9d4"
            ]
        ]
    },
    {
        "id": "af631eb3aa02b9d4",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "5e5a0d54cd36857c",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "161076791f776aef",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Guest Bedroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "002",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "ddb30b7e12994f9f"
            ],
            []
        ]
    },
    {
        "id": "799732214b487233",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 800,
        "wires": [
            [
                "161076791f776aef"
            ]
        ]
    },
    {
        "id": "ddb30b7e12994f9f",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "799732214b487233",
                "9fb68bd4e9d72ba1"
            ]
        ]
    },
    {
        "id": "9fb68bd4e9d72ba1",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "guest bedroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "817e9cd7-75a6-4278-be9e-b67b3460a899",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "079b41faaf05de0c"
            ]
        ]
    },
    {
        "id": "079b41faaf05de0c",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "cf878f58f6360a07",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a00af0a49fee52f5",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Main Bathroom Sunset",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "008",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "546cdf4bfcb241d0"
            ],
            []
        ]
    },
    {
        "id": "f142314d7fcddd22",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 940,
        "wires": [
            [
                "a00af0a49fee52f5"
            ]
        ]
    },
    {
        "id": "546cdf4bfcb241d0",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 940,
        "wires": [
            [
                "f142314d7fcddd22",
                "3b83da74294d4176"
            ]
        ]
    },
    {
        "id": "3b83da74294d4176",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "main bathroom sunset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5e7c58e6-6352-4568-9153-4a069b7bf53a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "c5452dc45a2b8c76"
            ]
        ]
    },
    {
        "id": "c5452dc45a2b8c76",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "8a5418169860cd08",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 740,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a4771e8e2359c1c2",
        "type": "homekit-service",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "isParent": true,
        "hostType": "0",
        "bridge": "b98a758a1473104d",
        "accessoryId": "",
        "parentService": "",
        "name": "Front Yard Spooky",
        "serviceName": "Switch",
        "topic": "",
        "filter": false,
        "manufacturer": "RADER",
        "model": "1.4.3",
        "serialNo": "005",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "b1242486cc80338a",
                "b1242486cc80338a"
            ],
            []
        ]
    },
    {
        "id": "20a884f75e5ca9dc",
        "type": "trigger",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "auto off",
        "op1": "",
        "op2": "{\"On\":false}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a4771e8e2359c1c2",
                "a4771e8e2359c1c2"
            ]
        ]
    },
    {
        "id": "b1242486cc80338a",
        "type": "switch",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "is on",
        "property": "payload.On",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "20a884f75e5ca9dc",
                "64038a922dc5e414",
                "20a884f75e5ca9dc",
                "64038a922dc5e414"
            ]
        ]
    },
    {
        "id": "64038a922dc5e414",
        "type": "change",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "front yard spooky",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70a0a8a6-b4b7-4b24-a9cf-0ecea0f359cc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "3517404bed36125c",
                "3517404bed36125c"
            ]
        ]
    },
    {
        "id": "3517404bed36125c",
        "type": "link call",
        "z": "68a0c85ae721ed85",
        "g": "e002d431b0480f62",
        "name": "",
        "links": [
            "1192b096e08ed0bc"
        ],
        "timeout": "30",
        "x": 680,
        "y": 340,
        "wires": [
            []
        ]
    }
]